@import "bourbon/bourbon";

$theme-color: #404040;
$upload-download-color: darken(rgba(128, 196, 227, 0.2), 25%);
$simulate-color: #1FCF69;

body {
	max-width: 1000px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #373a3c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-bottom: .5rem;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 {
	font-weight: 900;
	font-size: 1.25rem;
}
figcaption {
	font-size: 0.8rem;
}
pre {
  	white-space: pre;
  	word-wrap: normal;
   	code {
   		border-radius: 5px;
		display: inline-block;
		padding-right: 2.5em;
		padding-bottom: 2em;
		padding-top: 1.5em;
		background: #2c323c;
		background-image: linear-gradient(darken(#2c323c, 5%) 50%, transparent 50%);
		background-size: 100% 4em;
		background-position: 0 2em;
		background-origin: content-box;
		color: #ccc;
		line-height: 2em;
		font-size: 1em;
    }
}
#iris-the-light-program-interface {
	font-size: 3rem;
	margin-bottom: 1em;
    margin-top: 1em;
}

table {
	@include linear-gradient(to top, lighten($upload-download-color, 20%), $upload-download-color);
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 1.5em;
	margin: 1.875rem auto;
	text-align: left;
	max-width: 800px;
}
td, th {
   border:none;
}

th {
	padding: 10px 15px;
}

td {
	padding: 10px 15px;
	position: relative;
}

tr:nth-child(odd) td {
	background: white;
}
