html, body, h1, form, fieldset, legend, ol, li {
        margin: 0;
        padding: 0;
}

form#LPFform, #visualization{
    background: #3987ED;
    padding: 10px;
}

form#input:not([type=radio]):not([type=button]) {
    width: 60px;
}

form#LPFform fieldset, #SimControl, #simulation{
    background: #6196cf;
    background: rgba(255,255,255,.3);
    border-style: none;
}

form#LPFform {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 378px;
}
    form#LPFform fieldset {
        position:relative;
        padding: 10px 10px 10px;
        /*margin-bottom: 10px;*/
    }
        form#LPFform fieldset:last-of-type {
            margin-bottom: 0;
        }
	form#LPFform legend {
    	font: 16px Times, sans-serif;
        color: #fff;
	    letter-spacing: 1px;
	    position:relative;
	    top: 10px;
    	left: -5px;
    }
    form#LPFform ol {
		position:relative;
    	list-style: none;
    }

input#constButt, input#stepButt, input#sineButt, form#LPFform button, #view, #play { 
    background:#3498db;
	color:#ffffff;
	display:inline;
	border:none;
	font: 14px Arial;
	letter-spacing: 1px;
	margin: center;
	padding-left:2px;
	text-shadow: 0 1px 1px gray;
}

.close {
	background:#d93434;
	color:#ffffff;
	display:inline;
	border:none;
	font: 14px Arial;
	letter-spacing: 1px;
	margin: center;
	padding-left:2px;
	text-shadow: 0 1px 1px gray;
}

form#LPFform button:hover, input#constButt:hover, input#stepButt:hover,
input#sineButt:hover, #view:hover, #play:hover {
    background: #3cb0fd;
	cursor: pointer;
}

.close:hover {
    background:#fc0000;
	cursor: pointer;
}

input#constButt{padding-right: 186px;}
input#stepButt{padding-right: 218px;}
input#sineButt{padding-right: 174px;}
form#LPFform Button{padding-right: 302px;}
#view{margin-left:10px;}
.close{padding-right: 291px;}

/*
    Visualization
*/

#visualization { /* background fill for visualizer + visualizer player*/
    position: fixed;
    top: 2px;
    left: 402px;
    bottom: 2px;
    right: 2px;
}
#control { /* overal control pannel for the visualization player */
    position: fixed;
    top: 10px;
    left: 410px;
    right: 10px;
    background: #6196cf;
    background: rgba(255,255,255,.3);
    border-style: none;
}

#controlInput { /* timelaps slide bar */
    height: 40px;
}
#simulation { /* visualizer constraining window*/
    position: fixed;
    top: 80px;
    left: 410px;
    bottom: 10px;
    right: 10px;
}
#plateSim { /* actual visualizer dimensions */
    display: block;
    height: 100%;
    width:  100%;
}
#wellSim {
    display: block;
    height:  100%;
    width:  100%;
}
#displayTime{
    display: inline;
}
.template{
    display: none;
}
#time {
    width: 631px;
}
