* {
  margin: 0;
  padding: 0; }

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px; }

.stop-scroll {
  overflow: hidden; }

@media screen and (min-device-width: 2550px) {
  html {
    font-size: 24px; } }
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial; }

.header {
  position: fixed;
  height: 3.125rem;
  width: 100%;
  background-color: #808a99;
  box-shadow: 0rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.2);
  z-index: 3000; }
  .header p > a {
    display: inline-block;
    font-size: 2.1875rem;
    padding-top: 0.4375rem;
    padding-left: 0.9375rem; }
    .header p > a:link, .header p > a:visited, .header p > a:active {
      text-decoration: none;
      color: white; }
    .header p > a:hover {
      text-decoration: bold; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.arrow-minimized {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.arrow-maximized {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg); }

.LPI-menu {
  position: absolute;
  top: 3.75rem;
  margin-bottom: 0.625rem;
  left: 0.625rem;
  width: 26.5625rem;
  box-shadow: 0.125rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.15); }
  .LPI-menu .device-selection {
    height: 1.5625rem; }
    .LPI-menu .device-selection .devices {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      display: inline-block;
      appearance: none;
      width: 90%;
      height: 100%;
      padding-left: 0.625rem;
      border: none;
      border-radius: 0;
      font-size: 1.125rem;
      color: #fff;
      cursor: pointer;
      background-color: #9ca4b0;
      background-image: url(../Images/buttons/dropdown.svg);
      background-size: 1.5625rem;
      background-repeat: no-repeat;
      background-position: center;
      background-position: -webkit-calc(100% - 0.625rem);
      background-position: calc(100% - 0.625rem);
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .device-selection .devices:hover {
        background-color: #808a99; }
      .LPI-menu .device-selection .devices:focus {
        outline: none; }
    .LPI-menu .device-selection .upload-sim {
      display: inline-block;
      float: right;
      width: 10%;
      height: 100%;
      cursor: pointer;
      background-color: #56b1da;
      background-image: url(../Images/buttons/upload.svg);
      background-size: 0.9375rem;
      background-repeat: no-repeat;
      background-position: 50% center;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .device-selection .upload-sim:hover {
        background-color: #2e9dcf; }
      .LPI-menu .device-selection .upload-sim:focus {
        outline: none; }
    .LPI-menu .device-selection .upload-sim::-webkit-file-upload-button {
      visibility: hidden;
      width: 0;
      height: 0; }
    .LPI-menu .device-selection input[type='file'] {
      color: transparent; }
  .LPI-menu .custom-config {
    display: none;
    float: left;
    width: -webkit-calc(100% - 0.625rem);
    width: calc(100% - 0.625rem);
    padding: 0.3125rem 0rem 0.3125rem 0.625rem;
    margin-bottom: 0.3125rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
    background-color: rgba(156, 164, 176, 0.2); }
    .LPI-menu .custom-config input {
      height: 1.25rem;
      font-size: 0.875rem;
      border: 0.0625rem solid rgba(0, 0, 0, 0.1); }
      .LPI-menu .custom-config input:focus {
        outline: none;
        border: 0.0625rem solid #56b1da;
        box-shadow: 0rem 0rem 0.625rem #56b1da;
        -webkit-transition: border 0.5s ease, box-shadow 0.5s ease;
        -moz-transition: border 0.5s ease, box-shadow 0.5s ease;
        transition: border 0.5s ease, box-shadow 0.5s ease; }
    .LPI-menu .custom-config .title {
      font-weight: bold; }
    .LPI-menu .custom-config .plate-config-wrapper {
      float: left;
      width: 33%; }
      .LPI-menu .custom-config .plate-config-wrapper .rows {
        margin-top: 0.3125rem;
        padding-left: 0.1875rem;
        width: 2.8125rem;
        margin-left: 1.375rem; }
      .LPI-menu .custom-config .plate-config-wrapper .columns {
        margin-top: 0.3125rem;
        padding-left: 0.1875rem;
        width: 2.8125rem; }
    .LPI-menu .custom-config .LED-config-wrapper {
      float: left;
      width: -webkit-calc(65% - 1.0625rem);
      width: calc(65% - 1.0625rem);
      padding-left: 0.9375rem;
      border-left: 0.125rem solid rgba(0, 0, 0, 0.3); }
      .LPI-menu .custom-config .LED-config-wrapper .LED-quantity {
        margin-top: 0.3125rem;
        padding-left: 0.1875rem;
        width: 2.8125rem; }
      .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper {
        margin: 0.3125rem 0 0.125rem 0;
        font-size: 0.8125rem;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        float: left; }
        .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper label[for=LED-select-wavelength] {
          margin-left: 0.1875rem; }
        .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper .LED-select-wavelength {
          float: left;
          display: inline-block;
          font-size: 0.8125rem;
          height: 1.125rem;
          padding-left: 0.1875rem;
          margin-left: 0.125rem;
          width: 2.8125rem;
          border-right: 0;
          border-color: red;
          z-index: 3; }
          .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper .LED-select-wavelength:focus {
            box-shadow: none; }
        .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper .LED-select-color {
          float: left;
          display: inline-block;
          width: 1.25rem;
          height: 1.25rem;
          background-color: red; }
  .LPI-menu .run-variables {
    display: none;
    width: 95%;
    padding: 0.3125rem;
    margin-left: auto;
    margin-right: auto; }
    .LPI-menu .run-variables input {
      height: 1.25rem;
      font-size: 0.875rem;
      border: 0.0625rem solid white;
      background-color: rgba(102, 112, 128, 0.1); }
      .LPI-menu .run-variables input:focus {
        outline: none;
        border: 0.0625rem solid #56b1da;
        box-shadow: 0 0 0.3125rem #56b1da;
        -webkit-transition: border 0.5s ease, box-shadow 0.5s ease;
        -moz-transition: border 0.5s ease, box-shadow 0.5s ease;
        transition: border 0.5s ease, box-shadow 0.5s ease; }
    .LPI-menu .run-variables .run-header {
      padding-bottom: 0.3125rem;
      line-height: 1.375rem;
      border-bottom: 0.0625rem solid #000; }
      .LPI-menu .run-variables .run-header .time {
        padding-left: 0.1875rem;
        width: 20%; }
      .LPI-menu .run-variables .run-header .randomized, .LPI-menu .run-variables .run-header .offSwitch {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        height: 0.75rem;
        width: 0.75rem;
        border: none;
        border: solid 0.110rem black; }
        .LPI-menu .run-variables .run-header .randomized:focus, .LPI-menu .run-variables .run-header .offSwitch:focus {
          box-shadow: none; }
        .LPI-menu .run-variables .run-header .randomized:checked, .LPI-menu .run-variables .run-header .offSwitch:checked {
          background-color: #3fe284;
          background-image: -webkit-linear-gradient(-225deg, #3fe284 0%, #1FCF69 40%, #18a352 100%);
          background-image: linear-gradient(-45deg,#3fe284 0%, #1FCF69 40%, #18a352 100%); }
      .LPI-menu .run-variables .run-header .randomized {
        margin-right: 0.625rem; }
    .LPI-menu .run-variables .experiment-wrapper .experiment-header {
      padding-top: 0.3125rem;
      display: table-cell;
      font-weight: bold; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment {
        vertical-align: middle;
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer;
        height: 0.625rem;
        width: 0.625rem;
        margin-left: 0.625rem; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:after, .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 0.125rem;
          border-style: solid;
          border-color: #56b1da;
          background-color: #56b1da; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:before {
          width: 0.625rem; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:after {
          height: 0.625rem; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:hover:before, .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:hover:after {
          border-color: #2e9dcf;
          background-color: #2e9dcf; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .ID {
        vertical-align: middle;
        display: inline-block; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .well-allocation {
        vertical-align: middle;
        display: inline-block;
        padding-left: 2.8125rem; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .first-well {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        width: 1.5625rem;
        border: 0.0625rem solid black;
        cursor: default; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .last-well {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        width: 1.5625rem;
        border: 0.0625rem solid black;
        cursor: default; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .well-divider {
        vertical-align: middle;
        display: inline-block;
        width: 0.375rem;
        height: 0.125rem;
        background-color: black; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper {
        vertical-align: middle;
        display: inline-block;
        width: 1.1875rem;
        height: 1.125rem;
        border: 0.0625rem solid #000;
        margin-left: 0.125rem;
        cursor: pointer; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper:hover div {
          -webkit-animation: miniGraph 1s ease;
          -moz-animation: miniGraph 1s ease;
          animation: miniGraph 1s ease; }
@-webkit-keyframes miniGraph {
  0% {
    max-height: 1.25rem; }
  50% {
    max-height: 0rem; }
  100% {
    max-height: 1.25rem; } }
@-moz-keyframes miniGraph {
  0% {
    max-height: 1.25rem; }
  50% {
    max-height: 0rem; }
  100% {
    max-height: 1.25rem; } }
@keyframes miniGraph {
  0% {
    max-height: 1.25rem; }
  50% {
    max-height: 0rem; }
  100% {
    max-height: 1.25rem; } }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button {
          position: relative; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div {
            position: absolute;
            bottom: -1.0625rem;
            width: 0.125rem;
            background: #56b1da; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+1) {
            height: 0.125rem;
            left: 0.0625rem; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+2) {
            height: 0.3125rem;
            left: 0.25rem; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+3) {
            height: 0.625rem;
            left: 0.4375rem; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+4) {
            height: 0.4375rem;
            left: 0.625rem; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+5) {
            height: 0.875rem;
            left: 0.8125rem; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+6) {
            height: 1rem;
            left: 1rem; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment {
        vertical-align: middle;
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 4.625rem;
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:after, .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 0.0625rem;
          border-style: solid;
          border-color: red;
          background-color: red;
          -webkit-transform: translate(-50%, -50%) translate(0.625rem, 0.625rem);
          -moz-transform: translate(-50%, -50%) translate(0.625rem, 0.625rem);
          -ms-transform: translate(-50%, -50%) translate(0.625rem, 0.625rem);
          -o-transform: translate(-50%, -50%) translate(0.625rem, 0.625rem);
          transform: translate(-50%, -50%) translate(0.625rem, 0.625rem); }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:before {
          width: 1.25rem; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:after {
          height: 1.25rem; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:hover:before, .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:hover:after {
          border-color: #cc0000;
          background-color: #cc0000; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:active:after, .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:active:before {
          width: 0;
          height: 0; }
    .LPI-menu .run-variables .experiment-wrapper .experiment-details {
      padding-left: 1.5625rem;
      padding-top: 0.3125rem; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .timepoints {
          width: 15.625rem; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .timepoints .samples {
            padding-left: 0.1875rem;
            width: 13%; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .timepoints .delay {
            margin-left: 2.375rem;
            margin-top: 0.3125rem;
            padding-left: 0.1875rem;
            width: 13%; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .divider {
          display: inline-block;
          width: 0.125rem;
          height: 3.125rem;
          background-color: #b5b5b5; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .csv-timepoints {
          padding-left: 0.1875rem;
          font-size: 0.8125rem; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .csv-timepoints .csv-input {
            font-weight: bold;
            cursor: pointer; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-details .csv-input-table-wrapper {
        display: none;
        width: calc(100% - 0.625rem);
        min-height: 3.125rem;
        padding: 0.3125rem;
        resize: vertical;
        overflow: auto;
        background-color: rgba(102, 112, 128, 0.1); }
      .LPI-menu .run-variables .experiment-wrapper .experiment-details .replicates {
        margin-top: 0.3125rem;
        padding-left: 0.1875rem;
        width: 9%; }
    .LPI-menu .run-variables .experiment-wrapper .waveform-selection {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0.3125rem 1.5625rem 0.3125rem 1.5625rem; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .const-select, .LPI-menu .run-variables .experiment-wrapper .waveform-selection .step-select, .LPI-menu .run-variables .experiment-wrapper .waveform-selection .sine-select, .LPI-menu .run-variables .experiment-wrapper .waveform-selection .arb-select {
        background-size: 100%;
        background-repeat: no-repeat; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .const-select {
        margin-right: 0.3125rem;
        width: 25%;
        height: 4.375rem;
        background-color: #cbeaf9;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/const-img.svg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-selection .const-select:hover {
          background-color: #bde5f7; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .step-select {
        margin-right: 0.3125rem;
        width: 25%;
        height: 4.375rem;
        background-color: #b2e5e5;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/step-img.svg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-selection .step-select:hover {
          background-color: #8cd8d8; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .sine-select {
        margin-right: 0.3125rem;
        width: 25%;
        height: 4.375rem;
        background-color: #86becb;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/sine-img.svg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-selection .sine-select:hover {
          background-color: #62abbc; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .arb-select {
        width: 25%;
        height: 4.375rem;
        background-color: #1aa3a3;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/arb-img.svg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-selection .arb-select:hover {
          background-color: #137777; }
    .LPI-menu .run-variables .experiment-wrapper .waveform-inputs {
      display: inline-block;
      margin: 0.3125rem 0rem 0rem 1.5625rem; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .waveform-divider {
        width: 0.875rem;
        cursor: pointer; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave {
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        height: 0.375rem;
        width: 0.375rem;
        margin-left: 0.375rem;
        margin-left: 0.25rem;
        margin-bottom: 0.1875rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:after, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 0.09375rem;
          border-style: solid;
          border-color: black;
          background-color: black; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:before {
          width: 0.375rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:after {
          height: 0.375rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:hover:before, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:hover:after {
          border-color: black;
          background-color: black; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .waveform-title {
        display: inline-block;
        font-weight: bold;
        margin-left: 0.125rem; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .wavelength-selector {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        font-size: 0.875rem;
        font-family: Arial;
        border-radius: 0;
        border: none;
        background-color: rgba(102, 112, 128, 0.1);
        padding: 0 1.25rem 0 0.3125rem;
        box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
        background-image: url(../Images/buttons/dropdown-wave.svg);
        background-size: 0.9375rem;
        background-repeat: no-repeat;
        background-position: 1.875rem 0.28125rem;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .wavelength-selector:hover {
          background-color: rgba(79, 87, 100, 0.1); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .wavelength-selector:focus {
          outline: none; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .wavelength-mini {
        visibility: hidden;
        position: relative;
        float: right;
        top: 0.1875rem;
        right: 0.625rem;
        font-weight: bold;
        font-size: 0.75rem; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close {
        position: relative;
        width: 0.9375rem;
        height: 0.9375rem;
        float: right;
        top: 0.1875rem;
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:after, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 0.0625rem;
          border-style: solid;
          border-color: red;
          background-color: red;
          -webkit-transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem);
          -moz-transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem);
          -ms-transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem);
          -o-transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem);
          transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:before {
          width: 0.9375rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:after {
          height: 0.9375rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:hover:before, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:hover:after {
          border-color: #cc0000;
          background-color: #cc0000; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:active:after, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:active:before {
          width: 0;
          height: 0; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0.3125rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper .waveform-divider {
          background-color: #cbeaf9; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper .const-input {
          width: 15rem; }
          .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper .const-input .input-wrapper {
            padding: 0 0 0 1.125rem;
            font-size: 0.875rem; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper .const-input .input-wrapper .ints {
              padding-left: 0.1875rem;
              width: calc(100% - 0.3125rem); }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0.3125rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .waveform-divider {
          background-color: #b2e5e5; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input {
          width: 15rem; }
          .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input .input-wrapper {
            padding: 0.3125rem 0rem 0rem 1.125rem;
            font-size: 0.875rem; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input .input-wrapper .ints {
              padding-left: 0.1875rem;
              width: calc(100% - 0.3125rem); }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input .input-wrapper .offset {
              margin-top: 0.25rem;
              margin-bottom: 0.125rem;
              padding-left: 0.1875rem;
              width: 6.8125rem; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input .input-wrapper .stepTime {
              padding-left: 0.1875rem;
              width: calc(100% - 0.3125rem); }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0.3125rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .waveform-divider {
          background-color: #86becb; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input {
          width: 15rem; }
          .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper {
            padding: 0.3125rem 0 0 1.125rem;
            font-size: 0.875rem; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper .amplitude {
              margin-top: 0.25rem;
              margin-left: 2.5rem;
              padding-left: 0.1875rem;
              width: 6.875rem; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper .period {
              margin-top: 0.25rem;
              padding-left: 0.1875rem;
              width: 6.875rem; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper .phase {
              margin-top: 0.25rem;
              margin-left: 0.0625rem;
              padding-left: 0.1875rem;
              width: 6.875rem; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper .offset {
              margin-top: 0.25rem;
              margin-left: 0.75rem;
              padding-left: 0.1875rem;
              width: 6.875rem; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0.3125rem; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .waveform-divider {
          background-color: #1aa3a3; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .arb-input {
          width: 15rem; }
          .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .arb-input .input-wrapper {
            padding: 0.3125rem 0 0 1.125rem;
            font-size: 0.875rem; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .arb-input .input-wrapper .arbTable {
              margin-top: 0.5rem;
              max-height: 8rem;
              width: 10rem;
              overflow: scroll; }
              .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .arb-input .input-wrapper .arbTable .handsontable.handsontable:not(.ht_master) table {
                box-shadow: none; }
    .LPI-menu .run-variables .new-experiment {
      margin-top: 0.3125rem;
      padding: 0.125rem 0 0.125rem 0;
      text-align: center;
      width: 100%;
      color: #fff;
      background-color: #54a5c6;
      cursor: pointer;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .run-variables .new-experiment:hover {
        background-color: #398cae; }
      .LPI-menu .run-variables .new-experiment .add-button {
        display: inline-block; }
        .LPI-menu .run-variables .new-experiment .add-button:after, .LPI-menu .run-variables .new-experiment .add-button:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 0.125rem;
          border-style: solid;
          border-color: white;
          background-color: white;
          -webkit-transform: translate(-50%, -50%) translate(-0.625rem, -0.3125rem);
          -moz-transform: translate(-50%, -50%) translate(-0.625rem, -0.3125rem);
          -ms-transform: translate(-50%, -50%) translate(-0.625rem, -0.3125rem);
          -o-transform: translate(-50%, -50%) translate(-0.625rem, -0.3125rem);
          transform: translate(-50%, -50%) translate(-0.625rem, -0.3125rem); }
        .LPI-menu .run-variables .new-experiment .add-button:before {
          width: 0.75rem; }
        .LPI-menu .run-variables .new-experiment .add-button:after {
          height: 0.75rem; }
  .LPI-menu .simulate-download-wrapper {
    display: none;
    width: 100%;
    height: 1.5625rem;
    cursor: pointer;
    line-height: 1.625rem;
    font-size: 1.125rem; }
    .LPI-menu .simulate-download-wrapper .download {
      float: left;
      width: 100%;
      text-align: center;
      color: white;
      background-color: #1FCF69;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .simulate-download-wrapper .download:hover {
        background-color: #18a352; }
      .LPI-menu .simulate-download-wrapper .download:hover .custom-arrow {
        -webkit-animation: downloading 1s linear;
        -moz-animation: downloading 1s linear;
        animation: downloading 1s linear; }
      .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper {
        display: inline-block; }
        .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper .downloading-icon {
          width: 1.875rem;
          height: 1.0625rem;
          position: relative;
          overflow: hidden; }
        .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper .custom-arrow {
          width: 0.46875rem;
          height: 0.375rem;
          position: absolute;
          top: 0.1875rem;
          margin-left: -0.6875rem;
          background-color: #fff; }
          .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper .custom-arrow:after {
            content: '';
            position: absolute;
            display: block;
            top: 100%;
            left: -0.28125rem;
            border-top: 0.4375rem solid #fff;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent; }
        .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper .bar {
          width: 1.0625rem;
          height: 0.125rem;
          background-color: #fff; }
@-webkit-keyframes downloading {
  0% {
    top: 0.1875rem;
    opacity: 1; }
  50% {
    top: 110%;
    opacity: 0; }
  52% {
    top: -110%;
    opacity: 0; }
  100% {
    top: 0.1875rem;
    opacity: 1; } }
@-moz-keyframes downloading {
  0% {
    top: 0.1875rem;
    opacity: 1; }
  50% {
    top: 110%;
    opacity: 0; }
  52% {
    top: -110%;
    opacity: 0; }
  100% {
    top: 0.1875rem;
    opacity: 1; } }
@keyframes downloading {
  0% {
    top: 0.1875rem;
    opacity: 1; }
  50% {
    top: 110%;
    opacity: 0; }
  52% {
    top: -110%;
    opacity: 0; }
  100% {
    top: 0.1875rem;
    opacity: 1; } }
.sim-visualization {
  position: fixed;
  top: 3.75rem;
  left: 28.75rem;
  bottom: 0.625rem;
  right: 0.625rem;
  min-width: 45.0625rem;
  min-height: 31.25rem; }
  .sim-visualization .sim-controls-wrapper {
    display: block;
    width: 100%;
    height: 1.5625rem;
    box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.15); }
    .sim-visualization .sim-controls-wrapper .controls-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      flex-shrink: 0;
      -ms-flex-negative: 0;
      float: left;
      width: 100%;
      height: 100%; }
      .sim-visualization .sim-controls-wrapper .controls-wrapper .view-type {
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        flex-shrink: 0;
        -ms-flex-negative: 0;
        display: inline-block;
        float: left;
        height: 100%;
        line-height: 1.5625rem;
        padding: 0 0.625rem 0 0.625rem;
        color: #fff;
        background-color: #56b1da;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .view-type:hover {
          background-color: #41a7d5; }
      .sim-visualization .sim-controls-wrapper .controls-wrapper .LED-display {
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        flex-shrink: 0;
        -ms-flex-negative: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        display: inline-block;
        float: left;
        height: 100%;
        width: 5.9375rem;
        padding: 0 1.5625rem 0 0.625rem;
        border-radius: 0;
        border: none;
        font-size: 0.875rem;
        color: #fff;
        background-color: #9ca4b0;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/dropdown.svg);
        background-size: 1.25rem;
        background-repeat: no-repeat;
        background-position: calc(100% - 0.3125rem) center; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .LED-display:hover {
          background-color: #808a99; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .LED-display:focus {
          outline: none; }
      .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper {
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        flex-shrink: 0;
        -ms-flex-negative: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-col-row, .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-col-row .row, .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-col-row .column {
          display: inline-block;
          float: left; }
          .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-col-row .row {
            margin: 0 0.3125rem 0 0.125rem;
            padding-left: 0.125rem;
            border-left: 0.0625rem solid black; }
            .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-col-row .row .row-index {
              font-weight: bold; }
          .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-col-row .column {
            margin: 0 0.3125rem 0 0.125rem;
            padding-right: 0.125rem;
            border-right: 0.0625rem solid black; }
            .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-col-row .column .column-index {
              font-weight: bold; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-index {
          display: inline-block;
          float: left;
          margin-right: 0.125rem; }
          .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-index .well {
            padding-right: 0.125rem;
            border-right: 0.0625rem solid black; }
            .sim-visualization .sim-controls-wrapper .controls-wrapper .index-wrapper .selected-well-index .well .well-index {
              font-weight: bold; }
      .sim-visualization .sim-controls-wrapper .controls-wrapper label[for=sim-speed] {
        font-weight: bold;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        flex-shrink: 0;
        -ms-flex-negative: 0; }
      .sim-visualization .sim-controls-wrapper .controls-wrapper .sim-speed {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: 100%;
        height: 0.625rem;
        background-color: #9ca4b0;
        background-image: -webkit-linear-gradient(left, #9ca4b0, #9ca4b0);
        background-image: linear-gradient(to right,#9ca4b0, #9ca4b0);
        background-size: 100% 0.625rem;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        outline: none;
        zoom: 130%;
        display: block;
        margin: auto;
        margin-left: 0.125rem;
        margin-right: 0.625rem;
        z-index: 1;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: grab; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .sim-speed:focus {
          outline: none; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .sim-speed:active {
          cursor: -webkit-grabbing;
          cursor: -moz-grabbing;
          cursor: grabbing; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .sim-speed::-webkit-slider-thumb {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          appearance: none;
          width: 0.625rem;
          height: 0.625rem;
          background: #1FCF69;
          position: relative;
          z-index: -1; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .sim-speed::-webkit-slider-thumb:after {
          content: " ";
          left: -62.5rem;
          height: 0.625rem;
          position: absolute;
          right: 0.625rem;
          top: 0;
          background-color: white;
          background-image: -webkit-linear-gradient(left, white, #56b1da);
          background-image: linear-gradient(to right,white, #56b1da); }
      .sim-visualization .sim-controls-wrapper .controls-wrapper .play-button {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        flex-shrink: 0;
        -ms-flex-negative: 0;
        float: left;
        height: 100%;
        width: 1.25rem;
        padding: 0 0.625rem 0 0.625rem;
        border-radius: 0;
        border: none;
        font-size: 0.875rem;
        background-color: #1FCF69;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .play-button:hover {
          background-color: #18a352; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .play-button:focus {
          outline: none; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .play-button .play-triangle {
          margin: auto;
          border-top: 0.5rem solid transparent;
          border-bottom: 0.5rem solid transparent;
          border-left: 0.8125rem solid white;
          -webkit-transition: border 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
          -moz-transition: border 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
          transition: border 0.2s ease-in-out, transform 0.2s ease-in-out; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .play-button .stop-square {
          margin: auto;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
          border-top: 0.5rem solid white;
          border-bottom: 0.5rem solid white;
          border-left: 1rem solid white;
          -webkit-transition: border 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
          -moz-transition: border 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
          transition: border 0.2s ease-in-out, transform 0.2s ease-in-out; }
      .sim-visualization .sim-controls-wrapper .controls-wrapper .elapsed-time {
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        flex-shrink: 0;
        -ms-flex-negative: 0;
        display: inline-block;
        float: left;
        margin: 0 0.3125rem 0 0.3125rem; }
      .sim-visualization .sim-controls-wrapper .controls-wrapper .elapsed-time-vis {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        background-color: transparent;
        background-image: -webkit-linear-gradient(left, transparent, transparent);
        background-image: linear-gradient(to right,transparent, transparent);
        width: 100%;
        overflow: hidden;
        outline: none;
        zoom: 130%;
        display: block;
        margin-right: 0.625rem;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: grab; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .elapsed-time-vis:focus {
          outline: none; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .elapsed-time-vis:active {
          cursor: -webkit-grabbing;
          cursor: -moz-grabbing;
          cursor: grabbing; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .elapsed-time-vis::-webkit-slider-thumb {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          appearance: none;
          width: 0.625rem;
          height: 0.625rem;
          background: #1FCF69;
          position: relative;
          z-index: -1; }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .elapsed-time-vis::-webkit-slider-thumb:before {
          content: " ";
          left: -62.5rem;
          height: 0.625rem;
          position: absolute;
          right: 0.625rem;
          top: 0;
          background-color: #1FCF69;
          background-image: -webkit-linear-gradient(left, #1FCF69, #1FCF69);
          background-image: linear-gradient(to right,#1FCF69, #1FCF69); }
        .sim-visualization .sim-controls-wrapper .controls-wrapper .elapsed-time-vis::-webkit-slider-thumb:after {
          content: " ";
          right: -62.5rem;
          height: 0.625rem;
          position: absolute;
          left: 0.625rem;
          top: 0;
          background-color: #9ca4b0;
          background-image: -webkit-linear-gradient(left, #9ca4b0, #9ca4b0);
          background-image: linear-gradient(to right,#9ca4b0, #9ca4b0); }
  .sim-visualization .simulation {
    display: block;
    margin-top: 0.625rem;
    width: 100%;
    height: -webkit-calc(100% - 1.5625rem - 0.625rem);
    height: calc(100% - 1.5625rem - 0.625rem); }

.popup-graph {
  position: fixed;
  display: none;
  left: 28.75rem;
  top: 6.25rem;
  width: 18.75rem;
  height: 18.75rem;
  background-color: rgba(100, 100, 100, 0.1);
  box-shadow: 0 0 0.5rem 0 rgba(100, 100, 100, 0.4);
  resize: both;
  overflow: auto; }
  .popup-graph .close {
    position: absolute;
    width: 0.9375rem;
    height: 0.9375rem;
    cursor: pointer;
    z-index: 10;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0.3125rem 0 0 calc(100% - 1.25rem); }
    .popup-graph .close:after, .popup-graph .close:before {
      content: '';
      position: absolute;
      box-sizing: content-box;
      border-width: 0.0625rem;
      border-style: solid;
      border-color: red;
      background-color: red;
      -webkit-transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem);
      -moz-transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem);
      -ms-transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem);
      -o-transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem);
      transform: translate(-50%, -50%) translate(0.4375rem, 0.4375rem); }
    .popup-graph .close:before {
      width: 0.9375rem; }
    .popup-graph .close:after {
      height: 0.9375rem; }
    .popup-graph .close:hover:before, .popup-graph .close:hover:after {
      border-color: #cc0000;
      background-color: #cc0000; }
    .popup-graph .close:active:after, .popup-graph .close:active:before {
      width: 0;
      height: 0; }

/*# sourceMappingURL=StyleSheetX.css.map */
