@import "bourbon/bourbon";

//Main LPI colors
$button-text-color: #fff;
$theme-color: #404040;
$header-color: $theme-color;
$primary-color: lighten($theme-color,10%);
$upload-download-color: darken(rgb(128, 196, 227), 10%);
$simulate-color: #1FCF69;
$input-box-color: rgba(102, 112, 128, 0.1);
$input-error-color: rgba(207, 0, 15, 1);
$const-color: lighten(rgb(135, 207, 240), 15%);
$step-color: rgb(178, 229, 229);
$sine-color: rgb(134, 190, 203);
$arb-color: lighten(rgb(26, 163, 163), 0%);
$new-experiment-color: darken(rgb(122, 185, 211), 10%);
$header-height: 3.125rem;

@mixin hoverTrans($trans-var, $color, $darken) {
    @include transition($trans-var 0.2s ease);
    cursor: pointer;
    &:hover {background-color: darken($color, $darken);}
}

@mixin funcStyle($color,$time, $darken) {
    width: 25%;
    height: 4.375rem;
    background-color: $color;
    @include hoverTrans(background-color, $color, $darken);
}

@mixin addButton($url, $size) {
    background-image: $url;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin closeButton($width, $widthBefore, $widthAfter, $trans) {
    @include transform(rotate(45deg));
    &:after, &:before {
        content: '';
        position: absolute;
        box-sizing: content-box;
        border-width: $width;
        border-style: solid;
        border-color: red;
        background-color: red;
        @include transform(translate(-50%, -50%) translate($trans, $trans));// Center both branches
    }
    // Give dimensions to the branches and center them in the box
    &:before {width: $widthBefore;}
    &:after {height: $widthAfter;}
    &:hover {
        &:before, &:after{
            border-color: darken(red, 10%);
            background-color: darken(red, 10%);
        }
    }
    &:active {&:after, &:before {width: 0; height: 0;}}
}

@mixin minMaxButton($color, $parent-height, $parent-width, $width, $widthBefore, $widthAfter) {
    height: $parent-height/2;
    width: $parent-width/2;
    margin-left: $parent-width/2;
    &:after, &:before {
        content: '';
        position: absolute;
        box-sizing: content-box;
        border-width: $width;
        border-style: solid;
        border-color: $color;
        background-color: $color; // Center both branches
    }
    // Give dimensions to the branches and center them in the box
    &:before {width: $widthBefore;}
    &:after {height: $widthAfter;}
    &:hover {
        &:before, &:after{
            border-color: darken($color, 10%);
            background-color: darken($color, 10%);
        }
    }
}

// Prevents floated items from having a height of zero
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}
.stop-scroll {
    overflow: hidden;
}
@media screen and (min-device-width: 2550px) {
    html {font-size: 27px;}
}
@media screen and (min-device-width: 1440px) {
    html {font-size: 16px;}
}

// @media screen and (min-width: 1920px) and (min-device-width: 1920px) {
//     html {font-size: 24px;}
// }

body {
    @include user-select(none);
    font-family: Arial;
}
// Removes canvasjs chart credit from being displayed
//  Removed because the credit was out of place and obstrucking chart view
.canvasjs-chart-credit {
    display: none;
}

.header {
    position: fixed;
    height: $header-height;
    width: 100%;
    background-color: $header-color;
    box-shadow: 0rem 0.1875rem 0.3125rem rgba(0,0,0, 0.2);
    z-index: 3000;
    a {
        &:link, &:visited, &:active {text-decoration:none; color:white;}
    }
    span {
        float: left;
        padding-top: 0.3125rem;
        padding-left: 0.3125rem;
        color: white;
        font-size: 2.5rem;
    }
    .lab-redirect,
    .docs-button,
    .bug-button {
        font-size: 0.75rem;
        &:hover {
            border-bottom: solid 1px white;
        }
    }
    .lab-redirect { margin-left: 0.3125rem; }
    .logo {
        float: left;
        padding-left: 0.9375rem;
        padding-top: 0.4375rem;
        width: 60px;
    }
}
// Removes up and down arrows for number input boxes
// firefox
input[type=number] {
    -moz-appearance: textfield;
    margin: 0;
}
// ''
// chrome, safari
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:not([type=range]) {
    box-sizing: border-box;
    height: 1.375rem;
    font-size: 0.875rem;
    border: 0.0625rem solid white;
    padding-left: 0.1875rem;
    background-color: $input-box-color;
    box-shadow: none;
    &:focus{
        outline: none;
        border: 0.0625rem solid $upload-download-color;
        box-shadow: 0 0 0.3125rem $upload-download-color;
        @include transition(border 0.5s ease, box-shadow 0.5s ease);
    }
}
.error {
    border: 0.0625rem solid $input-error-color !important;
}
.arrow-minimized {
    @include transform(rotate(135deg));
}
.arrow-maximized {
    @include transform(rotate(225deg));
}

.LPI-menu {
    position: absolute;
    top: $header-height + 0.625rem;
    margin-bottom: 0.625rem;
    left: 0.625rem;
    width: 26.5625rem;
    box-shadow: 0.125rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.15);
    .device-selection {
        height: 1.5625rem;
        .devices {
            @include appearance(none);
            display: inline-block;
            appearance: none;
            width: 90%;
            height: 100%;
            padding-left: 0.625rem;
            border: none;
            border-radius: 0;
            font-size: 1.125rem;
            color: $button-text-color;
            cursor: pointer;
            background-color: $primary-color;
            @include addButton(url(../images/buttons/dropdown.svg), 1.5625rem);
            @include calc(background-position, "100% - 0.3125rem");
            @include hoverTrans(background-color, $primary-color, 10%);
            &:focus {outline: none;}
        }
        .upload-sim {
            display: inline-block;
            float: right;
            width: 10%;
            height: 100%;
            border: none;
            background-color: $upload-download-color;
            cursor: pointer;
            @include addButton(url(../images/buttons/upload.svg), 0.9375rem);
            background-position: 50% center;
            @include hoverTrans(background-color, $upload-download-color, 10%);
            &:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
        .upload-sim::-webkit-file-upload-button {
            visibility: hidden;
            width: 0;
            height: 0;
        }
        // a little hacky
        input[type='file'] {
            color: transparent;
        }
    }
    .state-variables {
        .state-header {
            @include display(flex);
            .steady,
            .simple,
            .advanced {
                @include display(flex);
                @include justify-content(space-around);
                @include align-items(center);
                @include flex(1);
                box-sizing: border-box;
                padding-top: 7px;
                padding-bottom: 7px;
                font-size: 1.125rem;
                border-bottom: 2px solid $primary-color;
                background-color: rgba(#ccc, 0.7);
                cursor: pointer;
                &:hover {
                    background-color: rgba(#ccc, 0.2);
                }
            }
            .selected {
                border-bottom: none;
                background: none;
                background-color: #fff;
                &:hover {
                    background-color: #fff;
                }
                .select-box {
                    background-color: $primary-color;
                }
            }
            .steady.selected {
                border-right: 2px solid $primary-color;
            }
            .simple {
                border-left: 1px solid $primary-color;
            }
            .simple.selected {
                border-left: 2px solid $primary-color;
            }
            .simple.selected + .advanced {
                border-left: 2px solid $primary-color;
            }
            .advanced {
                border-left: 1px solid $primary-color;
            }
            .advanced.selected {
                border-left: 2px solid $primary-color;
            }
        }
    }
    .arbTable {
        padding-top: 0.3125rem;
    }
    .run-variables {
        display: none;
        width: 95%;
        padding: 0.3125rem;
        padding-top: 0.625rem;
        margin-left: auto;
        margin-right: auto;
        .run-header {
            padding-bottom: 0.3125rem;
            line-height: 1.375rem;
            border-bottom: 0.0625rem solid #000;
            .time {
                width: 2.75rem;
            }
            .line-break {
                display: block;
                padding-top: 0.3125rem;
            }
            .randomized, .offSwitch {
                @include appearance(none);
                height: 0.75rem;
                width: 0.75rem;
                border: none;
                border: solid 0.110rem black;
                &:focus {
                    box-shadow: none;
                }
                &:checked {
                    @include linear-gradient(-45deg, lighten($simulate-color, 10%) 0%,
                                                    $simulate-color 40%,
                                                    darken($simulate-color, 10%) 100%);
                }
            }
            .randomized {
                margin-right: 0.625rem;
            }
            .fill-direction {
                float: right;
                @include appearance(none);
                font-size: 1rem;
                font-family: Arial;
                border-radius: 0;
                border: none;
                background-color: $input-box-color;
                padding-right: 1.25rem;
                padding-left: .3125rem;
                padding-top: 1px;
                padding-bottom: 1px;
                box-shadow: 0 0 0.0625rem rgba(0,0,0,.5);
                @include addButton(url(../images/buttons/dropdown-wave.svg), 0.9375rem);
                background-position: right 0.3125rem center;
                @include hoverTrans(background-color, $input-box-color, 10%);
                &:focus{outline:none;}
            }
        }
        .experiment-wrapper {
            .experiment-header {
                padding-top: 0.3125rem;
                width: 100%;
                font-weight: bold;
                .min-max-experiment {
                    vertical-align: middle;
                    display: inline-block;
                    width: 1.25rem;
                    height: 1.25rem;
                    cursor: pointer;
                    @include minMaxButton($upload-download-color, 1.25rem, 1.25rem, 0.125rem, 0.625rem, 0.625rem);
                }
                .ID {
                    vertical-align: middle;
                }
                .well-allocation {
                    vertical-align: middle;
                    padding-left: 1.875rem;
                }
                .wells-allocated {
                    vertical-align: middle;
                }
                .close-experiment {
                    vertical-align: middle;
                    display: inline-block;
                    width: 1.25rem;
                    height: 1.25rem;
                    float: right;
                    cursor: pointer;
                    @include closeButton(1px, 20px, 20px, 10px);
                }

            }
            .experiment-details {
                padding-left:1.5625rem;
                padding-top:0.3125rem;
                .timepoints-wrapper {
                    @include display(flex);
                    @include align-items(center);
                    .auto-timepoints {
                        width: 14.2rem;
                        span {
                            @include display(flex);
                            @include align-items(center);
                            @include justify-content(space-between);
                            margin-right: 0.3125rem;
                        }
                        span:nth-child(2) { margin-top: 0.3125rem; }
                        .samples,
                        .delay {
                            width: 13%;
                        }
                    }
                    .divider {
                        display: inline-block;
                        width: 0.125rem;
                        height: 50px;
                        margin-right: 0.3rem;
                        background-color: rgb(181, 181, 181);
                    }
                    .csv-timepoints {
                        font-size: 10px;
                        cursor: default;
                        .csv-input {
                            text-align: center;
                            font-size: 13px;
                            font-weight: bold;

                        }
                        .manual-timepoints {
                            width: 8.5rem;
                        }
                    }
                }
                .replicates {
                    margin-top: 0.3125rem;
                    width: 9%;
                }
                .waveform-pairing-wrapper { padding-top: 0.3125rem;}
                .waveform-pairing {
                    @include appearance(none);
                    font-size: 1rem;
                    font-family: Arial;
                    border-radius: 0;
                    border: none;
                    background-color: $input-box-color;
                    padding-right: 1.25rem;
                    padding-left: .3125rem;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    box-shadow: 0 0 0.0625rem rgba(0,0,0,.5);
                    @include addButton(url(../images/buttons/dropdown-wave.svg), 0.9375rem);
                    background-position: right 0.3125rem center;
                    @include hoverTrans(background-color, $input-box-color, 10%);
                    &:focus{outline:none;}
                }
            }
            .waveform-selection {
                @include display(flex);
                margin: 0.3125rem 1.5625rem 0.3125rem 1.5625rem;
                .const-select, .step-select, .sine-select, .arb-select {
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
                .const-select {
                    margin-right: 0.3125rem;
                    @include funcStyle($const-color, 0.3s, 3%);
                    background-image: url(../images/buttons/const-img.svg);

                }
                .step-select {
                    margin-right: 0.3125rem;
                    @include funcStyle($step-color, 0.3s, 10%);
                    background-image: url(../images/buttons/step-img.svg);
                }
                .sine-select {
                    margin-right: 0.3125rem;
                    @include funcStyle($sine-color, 0.3s, 10%);
                    background-image: url(../images/buttons/sine-img.svg);
                }
                .arb-select {
                    @include funcStyle($arb-color, 0.3s, 10%);
                    background-image: url(../images/buttons/arb-img.svg);
                }
            }
            .waveform-inputs {
                display: inline-block;
                margin: 0.3125rem 0rem 0rem 1.5625rem;
                .waveform-divider {
                    width: 0.875rem;
                    cursor: pointer;
                }
                .min-max-wave {
                    display: inline-block;
                    width: 0.75rem;
                    height: 0.75rem;
                    @include minMaxButton(black, 0.75rem, 0.75rem, 0.09375rem, 0.375rem, 0.375rem);
                    margin-left: 0.25rem;
                    margin-bottom: 0.1875rem;
                }
                .waveform-title {
                    display: inline-block;
                    font-weight: bold;
                    margin-left: 0.125rem;
                }
                .wavelength-selector {
                    @include appearance(none);
                    font-size: 0.875rem;
                    font-family: Arial;
                    border-radius: 0;
                    border: none;
                    background-color: $input-box-color;
                    padding: 0 1.25rem 0 0.3125rem;
                    box-shadow: 0 0 0.0625rem rgba(0,0,0,.5);
                    @include addButton(url(../images/buttons/dropdown-wave.svg), 0.9375rem);
                    background-position: right 0.3125rem center;
                    @include hoverTrans(background-color, $input-box-color, 10%);
                    &:focus{outline:none;}
                }
                label[for=wavelength-selector] {
                    padding-right: 10px;
                }
                .wavelength-mini {
                    visibility: hidden;
                    position: relative;
                    float: right;
                    top: 0.1875rem;
                    right: 0.625rem;
                    font-weight: bold;
                    font-size: 0.75rem;
                }
                .close {
                    position: relative;
                    width: 0.9375rem;
                    height: 0.9375rem;
                    float: right;
                    top: 0.1875rem;
                    cursor: pointer;
                    @include closeButton(1px, 15px, 15px, 7px);
                }
                .input-divider {
                    margin-top: 0.25rem;
                }
                .const-input-wrapper {
                    @include display(flex);
                    margin-bottom: 0.3125rem;
                    .waveform-divider {
                        background-color: $const-color;
                    }
                    .const-input {
                        width: 15rem;
                        .input-wrapper {
                            padding: 0 0 0 1.125rem;
                            font-size: 0.875rem;
                            .ints {
                                margin-top: 0.125rem;
                                width: 100%;
                            }
                        }
                    }
                }
                .step-input-wrapper {
                    @include display(flex);
                    margin-bottom: 0.3125rem;
                    .waveform-divider {
                        background-color: $step-color;
                    }
                    .step-input {
                        width: 15rem;
                        .input-wrapper {
                            padding: 0.3125rem 0rem 0rem 1.125rem;
                            font-size: 0.875rem;
                            .startInts,
                            .finalInts,
                            .stepTimes {
                                margin-top: 0.125rem;
                                width: 100%;
                            }
                        }
                    }
                }
                .sine-input-wrapper {
                    @include display(flex);
                    margin-bottom: 0.3125rem;
                    .waveform-divider {
                        background-color: $sine-color;
                    }
                    .sine-input {
                        width: 15rem;
                        .input-wrapper {
                            padding: 0.3125rem 0 0 1.125rem;
                            font-size: 0.875rem;
                            span {
                                @include display(flex);
                                @include justify-content(space-between);
                                @include align-items(center);
                                margin-top: 0.25rem;
                            }
                            .amplitude,
                            .period,
                            .phase,
                            .offset {
                                width: 6.25rem;
                            }
                        }
                    }
                }
                .arb-input-wrapper {
                    @include display(flex);
                    margin-bottom: 0.3125rem;
                    .waveform-divider {
                        background-color: $arb-color;
                    }
                    .arb-input {
                        width: 15rem;
                        .input-wrapper {
                            padding: 0.3125rem 0 0 1.125rem;
                            width: 100%;
                            font-size: 0.875rem;
                            @include box-sizing(border-box);
                            .arbTable {
                                margin-top: 0.5rem;
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }
            .experiment-details[style*="display: none"] + .waveform-selection {
                margin-left: 0;
                margin-right: 0;
            }
            .experiment-details[style*="display: none"] ~ .waveform-inputs {
                margin-left: 0;
            }

        }
        .new-experiment {
            margin-top: 0.3125rem;
            padding: 0.125rem 0 0.125rem 0;
            text-align: center;
            width: 100%;
            color: $button-text-color;
            background-color: $new-experiment-color;
            cursor: pointer;
            @include hoverTrans(background-color, $new-experiment-color, 10%);
            .add-button {
                display: inline-block;
                &:after, &:before {
                    content: '';
                    position: absolute;
                    box-sizing: content-box;
                    border-width: 0.125rem;
                    border-style: solid;
                    border-color: white;
                    background-color: white;
                    @include transform(translate(-50%, -50%) translate(-0.625rem, -0.3125rem)); // Center both branches
                }
                &:before {width: 0.75rem}
                &:after {height: 0.75rem}
            }
        }
    }
    .simulate-download-wrapper {
        display: none;
        width: 100%;
        height: 25px;
        cursor: pointer;
        line-height: 26px;
        font-size: 18px;
        .download {
            float: left;
            width: 100%;
            text-align: center;
            color: white;
            background-color: $simulate-color; //$upload-download-color;
            @include hoverTrans(background-color, $simulate-color, 10%);
            &:hover {
                .custom-arrow {
                    @include animation(downloading 1s linear);
                }
            }
            .download-icon-wrapper {
                display: inline-block;
                .downloading-icon {
                    position: relative;
                    width: 17px;
                    height: 13px;
                    overflow: hidden;
                }
                .custom-arrow {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    background: url(../images/buttons/download.svg) no-repeat bottom;
                }
                .bar {
                    width: 17px;
                    height: 2px;
                    background-color: #fff;
                }
                @include keyframes(downloading) {
                    0% {top: 0px; opacity: 1;}
                    50% {top: 110%; opacity: 0;}
                    52% {top: -110%; opacity: 0;}
                    100% {top: 0px; opacity: 1;}
                }
            }
        }
    }
}
.sim-visualization {
    display: none;
    $sim-control-height: 1.5625rem;
    position: fixed;
    top: $header-height + 0.625rem;
    left: 28.75rem;
    bottom: 0.625rem;
    right: 0.625rem;
    min-width: 45.0625rem;
    min-height: 31.25rem;
    &:focus {outline: none;}
    .sim-controls-wrapper {
        display: block;
        width: 100%;
        height: $sim-control-height;
        box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.15);
        .controls-wrapper {
            @include display(flex);
            @include align-items(center);
            @include flex-shrink(0);
            float: left;
            width: 100%;
            height: 100%;
            .view-type {
                @include align-items(center);
                @include flex-shrink(0);
                display: inline-block;
                float: left;
                height: 100%;
                line-height: 1.5625rem;
                padding: 0 0.625rem 0 0.625rem;
                color: $button-text-color;
                background-color: $upload-download-color;
                @include hoverTrans(background-color,$upload-download-color, 5%);
            }
            .LED-display {
                @include align-items(center);
                @include flex-shrink(0);
                @include appearance(none);
                display: inline-block;
                float: left;
                height: 100%;
                width: 5.9375rem;
                padding: 0 1.5625rem 0 0.625rem;
                border-radius: 0;
                border: none;
                font-size: 0.875rem;
                color: $button-text-color;
                background-color: $primary-color;
                @include hoverTrans(background-color,$primary-color, 10%);
                &:focus{outline: none;}
                @include addButton(url(../images/buttons/dropdown.svg), 1.25rem);
                @include calc(background-position, "100% - 0.3125rem");
            }
            .index-wrapper {
                @include align-items(center);
                @include flex-shrink(0);
                @include user-select(none);
                cursor: default;
                .selected-well-col-row{
                    display: inline-block;
                    float: left;
                    .row {
                        margin: 0 0 0 0.125rem;
                        padding-left: 0.125rem;
                        border-left: 0.0625rem solid black;
                        width: 3.75rem;
                        @extend .selected-well-col-row;
                        .row-index {
                            font-weight: bold;
                        }
                    }
                    .column {
                        margin: 0 0.3125rem 0 0;
                        padding-right: 0.125rem;
                        border-right: 0.0625rem solid black;
                        width: 3.375rem;
                        @extend .selected-well-col-row;
                        .column-index {
                            font-weight: bold;
                        }
                    }
                }
                .selected-well-index {
                    display: inline-block;
                    float: left;
                    margin-right: 0.125rem;
                    .well {
                        padding-right: 0.125rem;
                        border-right: 0.0625rem solid black;
                        width: 5.14062rem;
                        .well-index {
                            font-weight: bold;
                        }
                    }
                }
            }
            label[for=sim-speed] {
                font-weight: bold;
                @include align-items(center);
                @include flex-shrink(0);
            }
            .sim-speed {
                @include appearance(none);
                width: 100%;
                height: 0.625rem;
                @include linear-gradient(to right, $primary-color, $primary-color);
                background-size: 100% 0.625rem;
                background-position: center;
                background-repeat: no-repeat;
                overflow: hidden;
                outline: none;
                zoom: 130%;
                display: block;
                margin: auto;
                margin-left: 0.125rem;
                margin-right: 0.625rem;
                z-index: 1;
                cursor: -webkit-grab; cursor: -moz-grab; cursor: grab;
                &:focus{outline: none;}
                &:active{cursor: -webkit-grabbing; cursor: -moz-grabbing; cursor: grabbing;}
                &::-webkit-slider-thumb {
                    @include appearance(none);
                    width: 0.625rem;
                    height: 0.625rem;
                    background: $simulate-color;
                    position: relative;
                    z-index: -1;
                }
                &::-webkit-slider-thumb:after{
                    content: " ";
                    left: -62.5rem;
                    height: 0.625rem;
                    position: absolute;
                    right: 0.625rem;
                    top: 0;
                    @include linear-gradient(to right, white, $upload-download-color);
                }
                &::-moz-range-thumb:after {
                    @include appearance(none);
                    width: 0.625rem;
                    height: 0.625rem;
                    background: $simulate-color;
                    position: relative;
                    z-index: -1;
                }
                &::-moz-range-thumb {
                    content: " ";
                    left: -62.5rem;
                    height: 0.625rem;
                    position: absolute;
                    right: 0.625rem;
                    top: 0;
                    @include linear-gradient(to right, white, $upload-download-color);
                }
            }
            .play-button {
                @include display(flex);
                @include align-items(center);
                @include flex-shrink(0);
                float: left;
                height: 100%;
                width: 1.25rem;
                padding: 0 0.625rem 0 0.625rem;
                border-radius: 0;
                border: none;
                font-size: 0.875rem;
                background-color: $simulate-color;
                @include hoverTrans(background-color,$simulate-color, 10%);
                &:focus{outline: none;}
                .play-triangle {
                    margin: auto;
                    border-top: 0.5rem solid transparent;
                    border-bottom: 0.5rem solid transparent;
                    border-left: 0.8125rem solid white;
                    @include transition(border 0.2s ease-in-out, transform 0.2s ease-in-out);
                }
                .stop-square {
                    margin: auto;
                    @include transform(rotate(90deg));
                    border-top: 0.5rem solid white;
                    border-bottom: 0.5rem solid white;
                    border-left: 1rem solid white;
                    @include transition(border 0.2s ease-in-out, transform 0.2s ease-in-out);
                }
            }
            .elapsed-time {
                @include align-items(center);
                @include flex-shrink(0);
                display: inline-block;
                float: left;
                margin: 0 0.3125rem 0 0.3125rem;
            }
            .elapsed-time-vis {
                @include appearance(none);
                @include linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0));
                width: 100%;
                overflow: hidden;
                outline: none;
                zoom: 130%;
                display: block;
                margin-right: 0.625rem;
                cursor: -webkit-grab; cursor: -moz-grab; cursor: grab;
                &:focus{outline: none;}
                &:active{cursor: -webkit-grabbing; cursor: -moz-grabbing; cursor: grabbing;}
                &::-webkit-slider-thumb {
                    @include appearance(none);
                    width: 0.625rem;
                    height: 0.625rem;
                    background: $simulate-color;
                    position: relative;
                    z-index: -1;
                }
                &::-webkit-slider-thumb:before {
                    content: " ";
                    left: -62.5rem;
                    height: 0.625rem;
                    position: absolute;
                    right: 0.625rem;
                    top: 0;
                    @include linear-gradient(to right, $simulate-color, $simulate-color);
                }
                &::-webkit-slider-thumb:after {
                    content: " ";
                    right: -62.5rem;
                    height: 0.625rem;
                    position: absolute;
                    left: 0.625rem;
                    top: 0;
                    @include linear-gradient(to right, $primary-color, $primary-color);
                }
            }
        }
    }
    .simulation {
        display: block;
        margin-top: 0.625rem;
        width: 100%;
        @include calc(height, '100% - #{$sim-control-height} - 0.625rem');
        .false-clr-btn-wrapper {
            position: absolute;
            top: 2.1875rem;
            left: 0;
            width: 0;
            height: 0;
        }
        .false-clr-btn-box {
            position: absolute;
            top: 0;
            z-index: 15;
            cursor: pointer;
        }
        .false-clr-tab {
            fill: $upload-download-color;
            @include transition(all 0.2s ease);
        }
        .false-clr-btn-box:hover ~ .false-clr-btn-svg>.false-clr-tab {
            fill: darken($upload-download-color, 10%);
        }
        .false-clr-pull-tab {
            fill: $primary-color;
            @include transition(all 0.2s ease);
        }
        .false-clr-btn-box.active ~ .false-clr-btn-svg>.false-clr-tab {
            fill: $simulate-color;
        }
        .false-clr-btn-box.active:hover ~ .false-clr-btn-svg>.false-clr-tab {
            fill: darken($simulate-color, 10%);
        }
        .false-clr-btn-box.active ~ .false-clr-btn-svg>.false-clr-pull-tab {
            fill: lighten($primary-color, 20%);
        }
        .false-clr-pull-tab-mask {
            position: absolute;
            top: 0;
            border-right: 20px solid transparent;
            border-top: 20px solid white;
        }
    }
}






















