html, body, h1, form, fieldset, legend, ol, li {
        margin:0px;
        padding:0px;
}
body {
    background: white;
}

/*
    ---------------Banner---------------
*/
#header {
    position:fixed;
    z-index: 1;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    top: 0px;
    height: 24px;
    background: rgb(183,183,183);
    text-decoration: none;
    color:white;
}

a, a:link, a:visited, a:active {text-decoration:none; color:white;}
a:hover{text-decoration: underline;}

#labpage{
    font: 25px Arial, sans-serif;
}
#contact{
    font: 10px helvetica, sans-serif;
    text-align: right;
}

/*
    ---------------Form Layout---------------
*/
form#LPFform fieldset {
    font: 14px helvetica, sans-serif;;
    border-style: none;
}
form#LPFform {
    position: absolute;
    top: 34px;
    left: 10px;
    padding-top: 10px;
    width: 378px;
}
form#LPFform fieldset {
    position: relative;
    padding: 10px 10px 10px;
}
form#LPFform fieldset:last-of-type {
    margin-bottom: 0px;
}
.legend {
    position: relative;
    margin: 0px;
    top: -5px;
    left: -5px;
    font: 18px helvetica-bold, sans-serif;
    letter-spacing: 1px;
}
form#LPFform ol {
    position: relative;
    list-style: none;
}

/*
    ---------------Buttons---------------
*/

#devices {
    background: rgb(213,213,213);
    -webkit-appearance: none;
    border-radius: 0;
    overflow: hidden;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
input#constButt, input#stepButt, input#sineButt, 
form#LPFform button, .close, #devices {
    border: none;
    border-radius: 28px;
    font: 14px Arial;
    letter-spacing: 1px;
    padding-left: 4px;
} 
#view, #play {
    border: none;
    border-radius: 28px;
    font: 14px Arial;
    letter-spacing: 1px;
    padding: 2px;
}
input#constButt, input#stepButt, input#sineButt, #view, #play {
    background: rgb(213,213,213);
}
form#LPFform button {
    background: rgb(140, 182, 140);
}
.close {
    background: #d93434;
    color: #ffffff;
}
input#constButt, input#stepButt, input#sineButt, 
form#LPFform button, .close, #devices {
    width: 100%;
    text-align: left;
}
input#constButt:hover, input#stepButt:hover,
input#sineButt:hover, #view:hover, #play:hover, #devices:hover {
    background: rgb(233, 233, 233);
    cursor: pointer;
}
form#LPFform button:hover {
    background: rgb(100, 182, 100);
}
.close:hover {
    background: #fc0000;
    cursor: pointer;
}
input#constButt:focus, input#stepButt:focus, input#sineButt:focus, 
form#LPFform button:focus, #view:focus, #play:focus, #devices:focus, .close:focus {
  outline: none;
}
input[type=color] {
    border: none;
}
#devices, #devices:hover {
    background-image: url(../images/buttons/dropdown.svg);
    background-position: calc(100% - 10px) center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
input#constButt, input#stepButt, input#sineButt, input#constButt:hover,
input#stepButt:hover, input#sineButt:hover {
    background-image: url(../images/buttons/addition.svg);
    background-position: calc(100% - 13px) center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}


/*
    ---------------Sliders---------------
*/
input[type=range] {
    -webkit-appearance: none;
    background-color: rgb(108, 176, 207);
    height: 10px;
    border-radius: 5px;

}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #000;
    border-radius: 10px;
    width: 10px;
    height: 10px;
}
input[type=range]:focus {
    outline: none;
}

/*
    ---------------Visualization---------------
*/
#visualization { /* background fill for visualizer + visualizer player (simulation)*/
    position: fixed;
    top: 34px;
    left: 388px;
    bottom: 0px;
    right: 0px;
    min-width: 721px;
    min-height: 500px;
}
#control { /* overall control pannel for the visualization player */
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 50px;
    padding: 5px;
}
#controlInput { /* timelaps slide bar */
    height: 25px;
    font: 14px helvetica, sans-serif;;
}
#wellIndex {
    border-width: 1px;
    border-right-style: solid;  
    border-left-style: solid; 
}
#WellRow, #WellCol {
    font-weight: bold;
    color: green;
    font-size: 16px;
}
#simulation { /* visualizer constraining window*/
    position: absolute;
    top: 60px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}
#plateSim { /* actual visualizer dimensions */
    display: block;
    height: 100%;
    width:  100%;
}
#wellSim {
    display: block;
    height:  100%;
    width:  100%;
}
#displayTime{
    display: inline;
}
.template{
    display: none;
}
#speed {
    width: 129px;
}
