* {
  margin: 0px;
  padding: 0px; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial; }

.header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #b5b5b5;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 100; }
  .header p > a {
    display: inline-block;
    font-size: 35px;
    padding-top: 7px;
    padding-left: 15px; }
    .header p > a:link, .header p > a:visited, .header p > a:active {
      text-decoration: none;
      color: white; }
    .header p > a:hover {
      text-decoration: bold; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.LPI-menu {
  position: absolute;
  top: 60px;
  margin-bottom: 10px;
  left: 10px;
  width: 425px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15); }
  .LPI-menu .device-selection {
    height: 25px; }
    .LPI-menu .device-selection .devices {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      display: inline-block;
      appearance: none;
      width: 90%;
      height: 100%;
      padding-left: 10px;
      border: none;
      border-radius: 0px;
      font-size: 18px;
      color: #000;
      cursor: pointer;
      background-color: #cbcbcb;
      background-image: url(../Images/buttons/dropdown.svg);
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) center;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .device-selection .devices:hover {
        background-color: #b2b2b2; }
      .LPI-menu .device-selection .devices:focus {
        outline: none; }
    .LPI-menu .device-selection .upload-sim {
      display: inline-block;
      float: right;
      width: 10%;
      height: 100%;
      cursor: pointer;
      background-color: #80c4e3;
      background-image: url(../Images/buttons/upload.svg);
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 50% center;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .device-selection .upload-sim:hover {
        background-color: #56b1da; }
  .LPI-menu .custom-config {
    float: left;
    width: calc(100% - 10px);
    padding: 5px 0px 5px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(203, 203, 203, 0.2); }
    .LPI-menu .custom-config input {
      height: 20px;
      font-size: 14px;
      border: 1px solid rgba(0, 0, 0, 0.1); }
      .LPI-menu .custom-config input:focus {
        outline: none;
        border: 1px solid #80c4e3;
        box-shadow: 0px 0px 10px #80c4e3;
        -webkit-transition: border 0.5s ease, box-shadow 0.5s ease;
        -moz-transition: border 0.5s ease, box-shadow 0.5s ease;
        transition: border 0.5s ease, box-shadow 0.5s ease; }
    .LPI-menu .custom-config .title {
      font-weight: bold; }
    .LPI-menu .custom-config .plate-config-wrapper {
      float: left;
      width: 33%; }
      .LPI-menu .custom-config .plate-config-wrapper .rows {
        margin-top: 5px;
        padding-left: 3px;
        width: 45px;
        margin-left: 22px; }
      .LPI-menu .custom-config .plate-config-wrapper .columns {
        margin-top: 5px;
        padding-left: 3px;
        width: 45px; }
    .LPI-menu .custom-config .LED-config-wrapper {
      float: left;
      width: calc(65% - 17px);
      padding-left: 15px;
      border-left: 2px solid rgba(0, 0, 0, 0.3); }
      .LPI-menu .custom-config .LED-config-wrapper .LED-quantity {
        margin-top: 5px;
        padding-left: 3px;
        width: 45px; }
      .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper {
        margin: 5px 0 2px 0px;
        font-size: 13px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        float: left; }
        .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper label[for=LED-select-wavelength] {
          margin-left: 3px; }
        .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper .LED-select-wavelength {
          float: left;
          display: inline-block;
          font-size: 13px;
          height: 18px;
          padding-left: 3px;
          margin-left: 2px;
          width: 45px;
          border-right: 0;
          border-color: red;
          z-index: 3; }
          .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper .LED-select-wavelength:focus {
            box-shadow: none; }
        .LPI-menu .custom-config .LED-config-wrapper .LED-wavelength-wrapper .LED-select-color {
          float: left;
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: red; }
  .LPI-menu .run-variables {
    width: 95%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto; }
    .LPI-menu .run-variables input {
      height: 20px;
      font-size: 14px;
      border: 1px solid white;
      background-color: whitesmoke; }
      .LPI-menu .run-variables input:focus {
        outline: none;
        border: 1px solid #80c4e3;
        box-shadow: 0 0 5px #80c4e3;
        -webkit-transition: border 0.5s ease, box-shadow 0.5s ease;
        -moz-transition: border 0.5s ease, box-shadow 0.5s ease;
        transition: border 0.5s ease, box-shadow 0.5s ease; }
    .LPI-menu .run-variables .run-header {
      padding-bottom: 5px;
      line-height: 22px;
      border-bottom: 1px solid #000; }
      .LPI-menu .run-variables .run-header .time {
        padding-left: 3px;
        width: 20%; }
      .LPI-menu .run-variables .run-header .randomized, .LPI-menu .run-variables .run-header .offSwitch {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        height: 12px;
        width: 12px;
        border: none;
        border-radius: 2px;
        background-color: #aad7ec;
        background-image: -webkit-linear-gradient(-225deg, #aad7ec 0%, #80c4e3 40%, #56b1da 100%);
        background-image: linear-gradient(-45deg,#aad7ec 0%, #80c4e3 40%, #56b1da 100%); }
        .LPI-menu .run-variables .run-header .randomized:focus, .LPI-menu .run-variables .run-header .offSwitch:focus {
          border: none;
          box-shadow: none; }
        .LPI-menu .run-variables .run-header .randomized:checked, .LPI-menu .run-variables .run-header .offSwitch:checked {
          background-color: #3fe284;
          background-image: -webkit-linear-gradient(-225deg, #3fe284 0%, #1FCF69 40%, #18a352 100%);
          background-image: linear-gradient(-45deg,#3fe284 0%, #1FCF69 40%, #18a352 100%); }
      .LPI-menu .run-variables .run-header .randomized {
        margin-right: 10px; }
    .LPI-menu .run-variables .experiment-wrapper .experiment-header {
      padding-top: 5px;
      display: table-cell;
      font-weight: bold; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment {
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin-left: 10px;
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg); }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:after, .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 2px;
          border-style: solid;
          border-color: #80c4e3;
          background-color: #80c4e3; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:before {
          width: 10px; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:after {
          height: 10px; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:hover:before, .LPI-menu .run-variables .experiment-wrapper .experiment-header .min-max-experiment:hover:after {
          border-color: #56b1da;
          background-color: #56b1da; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .ID {
        vertical-align: middle;
        display: inline-block; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .well-allocation {
        vertical-align: middle;
        display: inline-block;
        padding-left: 45px; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .first-well {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        width: 25px;
        border: 1px solid black;
        cursor: default; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .last-well {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        width: 25px;
        border: 1px solid black;
        cursor: default; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .well-divider {
        vertical-align: middle;
        display: inline-block;
        width: 6px;
        height: 2px;
        background-color: black; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper {
        vertical-align: middle;
        display: inline-block;
        width: 19px;
        height: 18px;
        border: 1px solid #000;
        margin-left: 2px;
        cursor: pointer; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper:hover div {
          -webkit-animation: miniGraph 1s ease;
          -moz-animation: miniGraph 1s ease;
          animation: miniGraph 1s ease; }
@-webkit-keyframes miniGraph {
  0% {
    max-height: 20px; }
  50% {
    max-height: 0px; }
  100% {
    max-height: 20px; } }
@-moz-keyframes miniGraph {
  0% {
    max-height: 20px; }
  50% {
    max-height: 0px; }
  100% {
    max-height: 20px; } }
@keyframes miniGraph {
  0% {
    max-height: 20px; }
  50% {
    max-height: 0px; }
  100% {
    max-height: 20px; } }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button {
          position: relative; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div {
            position: absolute;
            bottom: -17px;
            width: 2px;
            background: #80c4e3; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+1) {
            height: 2px;
            left: 1px; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+2) {
            height: 5px;
            left: 4px; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+3) {
            height: 10px;
            left: 7px; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+4) {
            height: 7px;
            left: 10px; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+5) {
            height: 14px;
            left: 13px; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-header .graph-button-wrapper .graph-button div:nth-child(n+6) {
            height: 16px;
            left: 16px; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment {
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 74px;
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:after, .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 1px;
          border-style: solid;
          border-color: red;
          background-color: red;
          -webkit-transform: translate(-50%, -50%) translate(10px, 10px);
          -moz-transform: translate(-50%, -50%) translate(10px, 10px);
          -ms-transform: translate(-50%, -50%) translate(10px, 10px);
          -o-transform: translate(-50%, -50%) translate(10px, 10px);
          transform: translate(-50%, -50%) translate(10px, 10px); }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:before {
          width: 20px; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:after {
          height: 20px; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:hover:before, .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:hover:after {
          border-color: #cc0000;
          background-color: #cc0000; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:active:after, .LPI-menu .run-variables .experiment-wrapper .experiment-header .close-experiment:active:before {
          width: 0px;
          height: 0px; }
    .LPI-menu .run-variables .experiment-wrapper .experiment-details {
      padding-left: 25px;
      padding-top: 5px; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .timepoints {
          width: 250px; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .timepoints .samples {
            padding-left: 3px;
            width: 13%; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .timepoints .delay {
            margin-left: 38px;
            margin-top: 5px;
            padding-left: 3px;
            width: 13%; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .divider {
          display: inline-block;
          width: 2px;
          height: 50px;
          background-color: #b5b5b5; }
        .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .csv-timepoints {
          padding-left: 3px;
          font-size: 13px; }
          .LPI-menu .run-variables .experiment-wrapper .experiment-details .timepoints-wrapper .csv-timepoints .csv-input {
            font-weight: bold;
            cursor: pointer; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-details .csv-input-table-wrapper {
        display: none;
        width: calc(100% - 10px);
        min-height: 50px;
        padding: 5px;
        resize: vertical;
        overflow: auto;
        background-color: whitesmoke; }
      .LPI-menu .run-variables .experiment-wrapper .experiment-details .replicates {
        margin-top: 5px;
        padding-left: 3px;
        width: 9%; }
    .LPI-menu .run-variables .experiment-wrapper .waveform-selection {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 5px 25px 5px 25px; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .const-select {
        margin-right: 5px;
        width: 25%;
        height: 70px;
        background-color: #cbeaf9;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/const-img.svg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-selection .const-select:hover {
          background-color: #bde5f7; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .step-select {
        margin-right: 5px;
        width: 25%;
        height: 70px;
        background-color: #a9cede;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/step-img.svg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-selection .step-select:hover {
          background-color: #84b9d0; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .sine-select {
        margin-right: 5px;
        width: 25%;
        height: 70px;
        background-color: #8dafbf;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/sine-img.svg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-selection .sine-select:hover {
          background-color: #6c98ac; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-selection .arb-select {
        width: 25%;
        height: 70px;
        background-color: #548094;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer;
        background-image: url(../Images/buttons/arb-img.svg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-selection .arb-select:hover {
          background-color: #416473; }
    .LPI-menu .run-variables .experiment-wrapper .waveform-inputs {
      display: inline-block;
      margin: 5px 0px 0px 25px; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .waveform-divider {
        width: 14px;
        cursor: pointer; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave {
        display: inline-block;
        width: 12px;
        height: 12px;
        height: 6px;
        width: 6px;
        margin-left: 6px;
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
        margin-left: 4px;
        margin-bottom: 3px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:after, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 1.5px;
          border-style: solid;
          border-color: black;
          background-color: black; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:before {
          width: 6px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:after {
          height: 6px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:hover:before, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .min-max-wave:hover:after {
          border-color: black;
          background-color: black; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .waveform-title {
        display: inline-block;
        font-weight: bold;
        margin-left: 2px; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .wavelength-selector {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        font-size: 14px;
        font-family: Arial;
        border-radius: 0;
        border: none;
        background-color: whitesmoke;
        padding: 0 20px 0 5px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        background-image: url(../Images/buttons/dropdown-wave.svg);
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: 30px 4.5px;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
        cursor: pointer; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .wavelength-selector:hover {
          background-color: gainsboro; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .wavelength-selector:focus {
          outline: none; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .wavelength-mini {
        visibility: hidden;
        position: relative;
        float: right;
        top: 3px;
        right: 10px;
        font-weight: bold;
        font-size: 12px; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close {
        position: relative;
        width: 15px;
        height: 15px;
        float: right;
        top: 3px;
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:after, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 1px;
          border-style: solid;
          border-color: red;
          background-color: red;
          -webkit-transform: translate(-50%, -50%) translate(7px, 7px);
          -moz-transform: translate(-50%, -50%) translate(7px, 7px);
          -ms-transform: translate(-50%, -50%) translate(7px, 7px);
          -o-transform: translate(-50%, -50%) translate(7px, 7px);
          transform: translate(-50%, -50%) translate(7px, 7px); }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:before {
          width: 15px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:after {
          height: 15px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:hover:before, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:hover:after {
          border-color: #cc0000;
          background-color: #cc0000; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:active:after, .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .close:active:before {
          width: 0px;
          height: 0px; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 5px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper .waveform-divider {
          background-color: #cbeaf9; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper .const-input {
          width: 240px; }
          .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper .const-input .input-wrapper {
            padding: 0px 0px 0px 18px;
            font-size: 14px; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .const-input-wrapper .const-input .input-wrapper .ints {
              padding-left: 3px;
              width: calc(100% - 5px); }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 5px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .waveform-divider {
          background-color: #a9cede; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input {
          width: 240px; }
          .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input .input-wrapper {
            padding: 5px 0px 0px 18px;
            font-size: 14px; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input .input-wrapper .ints {
              padding-left: 3px;
              width: calc(100% - 5px); }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input .input-wrapper .offset {
              margin-top: 4px;
              margin-bottom: 2px;
              padding-left: 3px;
              width: 109px; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .step-input-wrapper .step-input .input-wrapper .stepTime {
              padding-left: 3px;
              width: calc(100% - 5px); }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 5px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .waveform-divider {
          background-color: #8dafbf; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input {
          width: 240px; }
          .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper {
            padding: 5px 0px 0px 18px;
            font-size: 14px; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper .amplitude {
              margin-top: 4px;
              margin-left: 40px;
              padding-left: 3px;
              width: 110px; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper .period {
              margin-top: 4px;
              padding-left: 3px;
              width: 110px; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper .phase {
              margin-top: 4px;
              margin-left: 1px;
              padding-left: 3px;
              width: 110px; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .sine-input-wrapper .sine-input .input-wrapper .offset {
              margin-top: 4px;
              margin-left: 12px;
              padding-left: 3px;
              width: 110px; }
      .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 5px; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .waveform-divider {
          background-color: #548094; }
        .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .arb-input {
          width: 240px; }
          .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .arb-input .input-wrapper {
            padding: 5px 0px 0px 18px;
            font-size: 14px; }
            .LPI-menu .run-variables .experiment-wrapper .waveform-inputs .arb-input-wrapper .arb-input .input-wrapper .arbTable {
              font-weight: bold; }
    .LPI-menu .run-variables .new-experiment {
      margin-top: 5px;
      padding: 2px 0px 2px 0px;
      text-align: center;
      width: 100%;
      background-color: #7ab9d3;
      cursor: pointer;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .run-variables .new-experiment:hover {
        background-color: #54a5c6; }
      .LPI-menu .run-variables .new-experiment .add-button {
        display: inline-block; }
        .LPI-menu .run-variables .new-experiment .add-button:after, .LPI-menu .run-variables .new-experiment .add-button:before {
          content: '';
          position: absolute;
          box-sizing: content-box;
          border-width: 2px;
          border-style: solid;
          border-color: white;
          background-color: white;
          -webkit-transform: translate(-50%, -50%) translate(-10px, -5px);
          -moz-transform: translate(-50%, -50%) translate(-10px, -5px);
          -ms-transform: translate(-50%, -50%) translate(-10px, -5px);
          -o-transform: translate(-50%, -50%) translate(-10px, -5px);
          transform: translate(-50%, -50%) translate(-10px, -5px); }
        .LPI-menu .run-variables .new-experiment .add-button:before {
          width: 12px; }
        .LPI-menu .run-variables .new-experiment .add-button:after {
          height: 12px; }
  .LPI-menu .simulate-download-wrapper {
    width: 100%;
    height: 25px;
    cursor: pointer;
    line-height: 26px;
    font-size: 18px; }
    .LPI-menu .simulate-download-wrapper .simulate {
      float: left;
      width: calc(50% - 10px);
      padding-left: 10px;
      background-color: #1FCF69;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .simulate-download-wrapper .simulate:hover {
        background-color: #18a352; }
    .LPI-menu .simulate-download-wrapper .download {
      float: left;
      width: 50%;
      text-align: center;
      color: white;
      background-color: #80c4e3;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .LPI-menu .simulate-download-wrapper .download:hover {
        background-color: #56b1da; }
      .LPI-menu .simulate-download-wrapper .download:hover .custom-arrow {
        -webkit-animation: downloading 1s linear;
        -moz-animation: downloading 1s linear;
        animation: downloading 1s linear; }
      .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper {
        display: inline-block; }
        .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper .downloading-icon {
          width: 30px;
          height: 17px;
          position: relative;
          overflow: hidden; }
        .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper .custom-arrow {
          width: 7.5px;
          height: 6px;
          position: absolute;
          top: 3px;
          margin-left: -11px;
          background-color: #fff; }
          .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper .custom-arrow:after {
            content: '';
            position: absolute;
            display: block;
            top: 100%;
            left: -4.5px;
            border-top: 7px solid #fff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent; }
        .LPI-menu .simulate-download-wrapper .download .download-icon-wrapper .bar {
          width: 17px;
          height: 2px;
          background-color: #fff; }
@-webkit-keyframes downloading {
  0% {
    top: 3px;
    opacity: 1; }
  50% {
    top: 110%;
    opacity: 0; }
  52% {
    top: -110%;
    opacity: 0; }
  100% {
    top: 3px;
    opacity: 1; } }
@-moz-keyframes downloading {
  0% {
    top: 3px;
    opacity: 1; }
  50% {
    top: 110%;
    opacity: 0; }
  52% {
    top: -110%;
    opacity: 0; }
  100% {
    top: 3px;
    opacity: 1; } }
@keyframes downloading {
  0% {
    top: 3px;
    opacity: 1; }
  50% {
    top: 110%;
    opacity: 0; }
  52% {
    top: -110%;
    opacity: 0; }
  100% {
    top: 3px;
    opacity: 1; } }
.sim-visualization {
  position: fixed;
  top: 60px;
  left: 460px;
  bottom: 10px;
  right: 10px;
  min-width: 721px;
  min-height: 500px; }
  .sim-visualization .controls-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    float: left;
    width: 100%;
    height: 25px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15); }
    .sim-visualization .controls-wrapper .view-type {
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      flex-shrink: 0;
      -ms-flex-negative: 0;
      display: inline-block;
      float: left;
      height: 100%;
      line-height: 25px;
      padding: 0px 10px 0px 10px;
      background-color: #80c4e3;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .sim-visualization .controls-wrapper .view-type:hover {
        background-color: #6bbade; }
    .sim-visualization .controls-wrapper .LED-display {
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      flex-shrink: 0;
      -ms-flex-negative: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      display: inline-block;
      float: left;
      height: 100%;
      width: 95px;
      padding: 0px 25px 0px 10px;
      border-radius: 0px;
      border: none;
      font-size: 14px;
      background-color: #cbcbcb;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer;
      background-image: url(../Images/buttons/dropdown.svg);
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: calc(100% - 5px) center; }
      .sim-visualization .controls-wrapper .LED-display:hover {
        background-color: #b2b2b2; }
      .sim-visualization .controls-wrapper .LED-display:focus {
        outline: none; }
    .sim-visualization .controls-wrapper .index-wrapper {
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      flex-shrink: 0;
      -ms-flex-negative: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default; }
      .sim-visualization .controls-wrapper .index-wrapper .selected-well-col-row, .sim-visualization .controls-wrapper .index-wrapper .selected-well-col-row .row, .sim-visualization .controls-wrapper .index-wrapper .selected-well-col-row .column {
        display: inline-block;
        float: left; }
        .sim-visualization .controls-wrapper .index-wrapper .selected-well-col-row .row {
          margin: 0px 5px 0px 2px;
          padding-left: 2px;
          border-left: 1px solid black; }
          .sim-visualization .controls-wrapper .index-wrapper .selected-well-col-row .row .row-index {
            font-weight: bold; }
        .sim-visualization .controls-wrapper .index-wrapper .selected-well-col-row .column {
          margin: 0px 5px 0px 2px;
          padding-right: 2px;
          border-right: 1px solid black; }
          .sim-visualization .controls-wrapper .index-wrapper .selected-well-col-row .column .column-index {
            font-weight: bold; }
      .sim-visualization .controls-wrapper .index-wrapper .selected-well-index {
        display: inline-block;
        float: left;
        margin-right: 2px; }
        .sim-visualization .controls-wrapper .index-wrapper .selected-well-index .well {
          padding-right: 2px;
          border-right: 1px solid black; }
          .sim-visualization .controls-wrapper .index-wrapper .selected-well-index .well .well-index {
            font-weight: bold; }
    .sim-visualization .controls-wrapper label[for=sim-speed] {
      font-weight: bold;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      flex-shrink: 0;
      -ms-flex-negative: 0; }
    .sim-visualization .controls-wrapper .sim-speed {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      width: 100%;
      height: 10px;
      background-color: #cbcbcb;
      background-image: -webkit-linear-gradient(left, #cbcbcb, #cbcbcb);
      background-image: linear-gradient(to right,#cbcbcb, #cbcbcb);
      background-size: 100% 10px;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      outline: none;
      zoom: 130%;
      display: block;
      margin: auto;
      margin-left: 2px;
      margin-right: 10px;
      z-index: 1;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab; }
      .sim-visualization .controls-wrapper .sim-speed:focus {
        outline: none; }
      .sim-visualization .controls-wrapper .sim-speed:active {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing; }
      .sim-visualization .controls-wrapper .sim-speed::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        background: #1FCF69;
        position: relative;
        z-index: -1; }
      .sim-visualization .controls-wrapper .sim-speed::-webkit-slider-thumb:after {
        content: " ";
        left: -1000px;
        height: 10px;
        position: absolute;
        right: 10px;
        top: 0px;
        background-color: white;
        background-image: -webkit-linear-gradient(left, white, #80c4e3);
        background-image: linear-gradient(to right,white, #80c4e3); }
    .sim-visualization .controls-wrapper .play-button {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      flex-shrink: 0;
      -ms-flex-negative: 0;
      float: left;
      height: 100%;
      width: 20px;
      padding: 0px 10px 0px 10px;
      border-radius: 0px;
      border: none;
      font-size: 14px;
      background-color: #1FCF69;
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      cursor: pointer; }
      .sim-visualization .controls-wrapper .play-button:hover {
        background-color: #18a352; }
      .sim-visualization .controls-wrapper .play-button:focus {
        outline: none; }
      .sim-visualization .controls-wrapper .play-button .play-triangle {
        margin: auto;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 13px solid white;
        -webkit-transition: border 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        -moz-transition: border 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
        transition: border 0.2s ease-in-out, transform 0.2s ease-in-out; }
      .sim-visualization .controls-wrapper .play-button .stop-square {
        margin: auto;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        border-top: 8px solid white;
        border-bottom: 8px solid white;
        border-left: 16px solid white;
        -webkit-transition: border 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        -moz-transition: border 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
        transition: border 0.2s ease-in-out, transform 0.2s ease-in-out; }
    .sim-visualization .controls-wrapper .elapsed-time {
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      flex-shrink: 0;
      -ms-flex-negative: 0;
      display: inline-block;
      float: left;
      margin: 0 5px 0 5px; }
    .sim-visualization .controls-wrapper .elapsed-time-vis {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      background-color: transparent;
      background-image: -webkit-linear-gradient(left, transparent, transparent);
      background-image: linear-gradient(to right,transparent, transparent);
      width: 100%;
      overflow: hidden;
      outline: none;
      zoom: 130%;
      display: block;
      margin-right: 10px;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab; }
      .sim-visualization .controls-wrapper .elapsed-time-vis:focus {
        outline: none; }
      .sim-visualization .controls-wrapper .elapsed-time-vis:active {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing; }
      .sim-visualization .controls-wrapper .elapsed-time-vis::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        background: #1FCF69;
        position: relative;
        z-index: -1; }
      .sim-visualization .controls-wrapper .elapsed-time-vis::-webkit-slider-thumb:before {
        content: " ";
        left: -1000px;
        height: 10px;
        position: absolute;
        right: 10px;
        top: 0px;
        background-color: #1FCF69;
        background-image: -webkit-linear-gradient(left, #1FCF69, #1FCF69);
        background-image: linear-gradient(to right,#1FCF69, #1FCF69); }
      .sim-visualization .controls-wrapper .elapsed-time-vis::-webkit-slider-thumb:after {
        content: " ";
        right: -1000px;
        height: 10px;
        position: absolute;
        left: 10px;
        top: 0px;
        background-color: #cbcbcb;
        background-image: -webkit-linear-gradient(left, #cbcbcb, #cbcbcb);
        background-image: linear-gradient(to right,#cbcbcb, #cbcbcb); }

.popup-graph {
  position: fixed;
  left: 460px;
  top: 100px;
  width: 300px;
  height: 300px;
  background-color: rgba(100, 100, 100, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(100, 100, 100, 0.4);
  resize: both;
  overflow: auto; }
  .popup-graph .close {
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index: 10;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 0 calc(100% - 20px); }
    .popup-graph .close:after, .popup-graph .close:before {
      content: '';
      position: absolute;
      box-sizing: content-box;
      border-width: 1px;
      border-style: solid;
      border-color: red;
      background-color: red;
      -webkit-transform: translate(-50%, -50%) translate(7px, 7px);
      -moz-transform: translate(-50%, -50%) translate(7px, 7px);
      -ms-transform: translate(-50%, -50%) translate(7px, 7px);
      -o-transform: translate(-50%, -50%) translate(7px, 7px);
      transform: translate(-50%, -50%) translate(7px, 7px); }
    .popup-graph .close:before {
      width: 15px; }
    .popup-graph .close:after {
      height: 15px; }
    .popup-graph .close:hover:before, .popup-graph .close:hover:after {
      border-color: #cc0000;
      background-color: #cc0000; }
    .popup-graph .close:active:after, .popup-graph .close:active:before {
      width: 0px;
      height: 0px; }

/*# sourceMappingURL=StyleSheetX.css.map */
