html, body, h1, form, fieldset, legend, ol, li {
        margin: 0;
        padding: 0;
        }
#container {
    position: relative;
}
form#LPFform, #visualization{
    background:  #3987ED;
    padding: 10px;
    /*Round borders*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    
}
forminput:not([type=radio]):not([type=button]) {
    width: 60px;
}
form#LPFform fieldset, #SimControl,#simulation{
    background: #6196cf;
    background: rgba(255,255,255,.3);
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
form#LPFform {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 378px;
}
    form#LPFform fieldset {
        position:relative;
        padding: 26px 10px 15px;
        margin-bottom: 10px;
    }
        form#LPFform fieldset:last-of-type {
            margin-bottom: 0;
        }
        form#LPFform legend {
            color: #000;
            font-size: 16px;
            font-weight: bold;
            position:absolute;
            top:0px;
            left:10px;
        }
            form#LPFform ol {
            list-style: none;
               }
.template{
    display: none;
}
#visualization {
    position: fixed;
    top: 2px;
    left: 402px;
    bottom: 2px;
    right: 2px;
}
#vizControl {
    position: fixed;
    top: 10px;
    left: 410px;
    right: 10px;
    height: 100px;
}
#simulation {
    position: fixed;
    top: 120px;
    left: 410px;
    bottom: 10px;
    right: 10px;
}
#plateSim {
    display: block;
    height:  100%;
    width:  100%;
}
#wellSim {
    display: none;
    height:  100%;
    width:  100%;
    
}
#time {
    width:  100%;
}
/*canvas {
    width:  100%;
    height:  100%;
}*/