<div class="arb-input-wrapper">
    <div class="waveform-divider" ng-click="maximized=!maximized" ng-init="maximized=true"><span class="min-max-wave"  ng-class="maximized ? 'arrow-maximized' : 'arrow-minimized'"></span></div>
    <div class="arb-input">
        <div class="waveform-title">Arbitrary Wave</div>
        <span class="close" ng-click="waveform.deleteWaveform()"></span>
        <span class="wavelength-mini">| 650nm</span>
        <div class="input-wrapper">
            <label  for="wavelength-selector">For wavelength</label>
            <select class ="wavelength-selector" name="wavelength-selector">
                <option>650</option>
            </select>
            <div class="arbTable">
            </div>
        </div>
    </div>
</div>