<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Light Programming Interface</title>
        <link rel="icon" type="image/ico" href="images/favicon.ico">
        <link rel="stylesheet" href="css/StyleSheetX.css">
        <!-- All these are for tool tipster -->
        <!-- <link rel="stylesheet" type="text/css" href="css/tooltipster.css" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="css/tooltipster-shadow.css" /> -->
        <link rel="stylesheet" media="screen" href="css/handsontable.full.min.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/ui_animations.js"></script>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <!-- // <script type="text/javascript" src="js/jquery.tooltipster.min.js"></script> -->
    </head>
    <body>
        <div class="header">
            <p>
                <a href="http://www.taborlab.rice.edu/" target="_blank" ><span id="labpage">LPI: Tabor lab</span></a>
<!--                 <span class="contact">Contact: 
                    <a href="mailto:felixekness@gmail.com">Felix Ekness, </a>
                    <a href="mailto:lhartsough@gmail.com">Lucas Hartsough, </a>
                    <a href="mailto:brian.landry@gmail.com">Brian Landry</a>      
                </span> -->
            </p>
        </div>
        <div class="LPI-menu"  ng-app="myApp" ng-controller="ctrl">
            <div class="device-selection">
                <select class="devices" ng-options = "deviceObject as deviceObject.name for deviceObject in devices"  ng-model="device">
                    <option value="" disabled>Select Device</option>
                </select>
                <div class="upload-sim" title="Upload Experiment Configuration"></div>
            </div>
            <div class="custom-config" ng-style="{'display': device.display}">
                <div class="plate-config-wrapper">
                    <span class="title">Plate Config</span>
                    <br>
                    <label for="rows">Rows: </label>
                    <input class="rows" type="number" name="rows" placeholder="8" min ="1" step="1" required aria-required=”true” ng-model="device.rows"/>
                    <br>
                    <label for="columns">Columns: </label>
                    <input class="columns" type="number" name="columns" placeholder="8" min="1" step="1" required aria-required=”true” ng-model="device.cols"/>
                </div>
                <div class="LED-config-wrapper">
                    <span class="title">LED Config</span>
                    <br>
                    <label for="LED-quantity">LEDs: </label>
                    <input class="LED-quantity" type ="number" name="LEDnum" placeholder="1" min="0" step="1" required aria-required=”true” max="4" ng-model="ledNum"/>
                    <br>
                    <div class="LED-wavelength-wrapper" ng-repeat="i in getNumber(ledNum) track by $index">
                        <label  for="LED-select-wavelength"><span class="LED-number">{{$index+1}}</span>:</label>
                        <input class="LED-select-wavelength" type="number" name="wavelength" placeholder="600" min="0" max="1000" required aria-required=”true” ng-model="device.leds[$index]"/>
                        <div class="LED-select-color"></div>
                    </div>
                </div>
            </div>
            <div class="run-variables" ng-controller="runCtrl">
                <div class="run-header">
                    <label>Program Duration (minutes) </label><input class="time" placeholder="480">
                    <br>
                    <label for="checkbox">Randomize the positions </label><input class="randomized" type="checkbox" name="randomized" value="randomized"/>
                    <label for="offSwitch">Turn off LEDs upon finish </label><input class="offSwitch" type="checkbox" name="offSwitch" value="off"/>    
                </div>
                <div class="experiment-wrapper" ng-repeat="experiment in experiments" my-experiment="experiment">
                </div>
                <div class="new-experiment" ng-click="addExperiment()">
                    <div class="add-button"></div>
                    New Experiment
                </div>

            </div>
            <div class="simulate-download-wrapper">
                <div class="simulate" ng-style="simulated ? {'width':'calc(50% - 10px)', 'display':'block'} : {'width':'calc(100% - 10px)'}" ng-click="simulated=true" ng-init="simulated=false">Load New Simulation</div>
                <div class="download" ng-style="simulated ? {'display':'block'}:{'display':'none'}">Download
                    <div class="download-icon-wrapper">
                        <div class="downloading-icon">
                            <span class="custom-arrow"></span>
                        </div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sim-visualization">
            <div class="sim-control">
                <div class="controls-wrapper">
                    <div class="view-type" value ="Well View">Well View</div>
                    <select class="LED-display">
                        <option selected disabled>All LEDs</option> 
                    </select>
                    <div class="index-wrapper">
                        <div class="selected-well-col-row">
                            <div class="row">Row: <span class="row-index"> 1 </span></div>
                            <div class="column">Col: <span class="column-index"> 1 </span></div>
                        </div>
                        <div class="selected-well-index">
                            <div class="well">Well &#35;: <span class="well-index"> 1 </span> </div>
                        </div>
                    </div>
                    <label for="sim-speed">Speed</label>
                    <input class="sim-speed plate" type="range" min="0" max="1" step="0.01" value="0.5"/>
                    <div class="play-button plate"><div class="play-triangle"></div></div>
                    <div class="elapsed-time plate">00:00:00</div>
                    <input class="elapsed-time-vis plate" type="range" min="0" max="1" step="0.001" value="0" />
                </div>
            </div>
            <div class="simulation">
                <div class="plate-sim plate">
                    <canvas class="canvas"></canvas>
                </div>
                <div class="well-sim well" id="wellSim"></div>
            </div>
        </div>
        <div class="popup-graph">
            <div class="title"></div>
            <div class="close"></div>
            <div class="plot" id="wfgSim"></div>
        </div>

        <script src="js/handsontable.full.min.js"></script>
        <script src="js/canvasjs.min.js"></script>
        <script src="js/papaparse.min.js"></script>
        <script src="lib/numeric-1.2.6.js"></script>
        <script src="lib/jszip.min.js"></script>
        <script src="js/plate.js"></script>
        <!--<script src="js/LPI.js"></script>
        <script src="js/FileSaver.js"></script>-->
        <script src="js/angular.js"></script>
        
    </body>
</html>
