<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Iris</title>
        <link rel="icon" type="image/ico" href="images/logos/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/StyleSheetX.min.css">
        <link rel="stylesheet" media="screen" href="css/handsontable.full.min.css">
        <link href="css/angular-tooltips.min.css" rel="stylesheet" type="text/css" />
        <!--<script type="text/javascript" src="lib/bootstrap.min.js"></script>-->
        <link rel="stylesheet" media="screen" href="css/handsontable.full.min.css">
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/ui_animations.js"></script>
        <script src= "js/angular.min.js"></script>
    </head>
    <body ng-app="LPI">
        <div class="header">
            <a href="index.html"><img class="logo" src="images/logos/Iris_logo_v2.svg"><span>Iris</span></a>
            <span><a class="lab-redirect" href="http://taborlab.rice.edu/" target="_blank">Tabor Lab</a>
            <a href="documentation/documentation.html" class="docs-button" target="_blank">Docs</a>
            <a href="documentation/changelog.html" class="docs-button" target="_blank">Change Log</a>
            <a href="mailto:iris-devs@rice.edu" class="bug-button" target="_blank">Bug?</a></span>
            <span class="version">0.6.0</span>
        </div>
        <div class="LPI-menu" ng-controller="formController" ng-cloak>
            <div class="device-selection" ng-style="{'display':display.deviceSelection}">
                <select class="devices" ng-options = "deviceObject as deviceName(deviceObject) for deviceObject in devices"  ng-model="device" ng-change="updateDevice(device)">
                    <option value="" disabled>Select Device</option>
                </select>
                <input type="file" class="upload-sim" title="Upload Experiment Configuration" onchange="angular.element(this).scope().file_changed(this)" onclick="angular.element(this).scope().file_clicked(this)"></input>
            </div>
            <div class="state-variables" ng-style="{'display':display.stateVariables}">
                <div class="state-header">
                    <span class="steady" ng-click="switchToSteady()" ng-class="getInputStyle() === 0 ? 'selected' : ''">
                        Steady State
                    </span>
                    <span class="simple" ng-click="switchToSimple()" ng-class="getInputStyle() === 1 ? 'selected' : ''">
                        Dynamic
                    </span>
                    <span class="advanced" ng-click="switchToAdvanced()" ng-class="getInputStyle() === 2 ? 'selected' : ''">
                        Advanced
                    </span>
                </div>
            </div>
            <div class="arbTable" steady-table ng-style="(getInputStyle() === 0 && display.stateVariables === 'block') ? {'display':'block'} : {'display':'none'}">
                <div class="arbData">
                </div>
            </div>
            <div class="run-variables" ng-style="(getInputStyle() === 0 || getInputStyle() === -1 || device===undefined || device.name=='default') ? {'display':'none'} : {'display':'block'}">
                <div class="run-header">
                    <label>Program Duration (min) </label><input class="time" placeholder="480" ng-model="formData.getParam().time" tooltips data-title="{{formData.getParam().timeTooltipErrorText}}" ng-class="{error: !(formData.getParam().timeTooltipErrorText === '')}">
                    <select class="fill-direction" ng-model="formData.getParam().rcOrientation" ng-init="1" ng-style="(getInputStyle() === 2) ? {'display':'block'} : {'display':'none'}">
                        <option class="by-rows" value="1">Fill By Rows</option>
                        <option class="by-columns" value="0">Fill By Columns</option>
                    </select>
                    <span class="line-break" ng-style="(getInputStyle() === 2) ? {'display':'block'} : {'display':'none'}">
                        <label for="randomized">Randomize the positions </label><input class="randomized" id="randomized" type="checkbox" name="randomized" ng-init=" formData.getParam().randomized=false" ng-model=" formData.getParam().randomized" ng-change="newSeed()"/>
                        <label for="offSwitch">Turn off LEDs upon finish </label><input class="offSwitch" id="offSwitch" type="checkbox" name="offSwitch"ng-init=" formData.getParam().offSwitch=false" ng-model=" formData.getParam().offSwitch"/>
                    </span>
                </div>
                <div class="experiment-wrapper" ng-repeat="experiment in getExperiments()" my-experiment="experiment" device="device">
                </div>
                <div class="new-experiment" ng-click="addExperiment()" ng-style="(getInputStyle() === 2) ? {'display':'block'} : {'display':'none'}">
                    <div class="add-button"></div>
                    New Experiment
                </div>
            </div>
            <div class="simulate-download-wrapper" ng-style="{'display':display.download}">
                <div class="download" ng-click="downloadPlate()">Download
                    <div class="download-icon-wrapper">
                        <div class="downloading-icon">
                            <span class="custom-arrow"></span>
                        </div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div >
        <div class="sim-visualization" ng-controller="simController" ng-cloak ng-style="{'display':display.sim}"  key-trap tabindex = 0>
            <div class="sim-controls-wrapper">
                <div class="controls-wrapper">
                    <div class="view-type" value ="Well View" ng-click="toggleView()">{{plateView ? 'Well View' : 'Plate View'}}</div>
                    <select class ="LED-display" name="wavelength-selector" ng-options="idx as led.wavelength for (idx, led) in getDevice().leds" ng-model="wavelengthIndex" ng-init="wavelengthIndex=''">
                        <option value="">All LEDs</option>
                    </select>
                    <div class="index-wrapper">
                        <div class="selected-well-col-row">
                            <div class="row">Row: <span class="row-index"> {{selectedRow+1}} </span></div>
                            <div class="column">Col: <span class="column-index"> {{selectedCol+1}} </span></div>
                        </div>
                        <div class="selected-well-index">
                            <div class="well">Well &#35;: <span class="well-index">{{selectedWell()+1}}</span> </div>
                        </div>
                    </div>
                    <label>Speed</label>
                    <input class="sim-speed plate" type="range" min="0" max="1" step="0.01" ng-model="speedSlider"/>
                    <div class="play-button plate" ng-click="togglePlay()"><div ng-class="simActive ? 'stop-square' : 'play-triangle'"></div></div>
                    <div class="elapsed-time plate">{{prettyTime}}</div>
                    <input class="elapsed-time-vis plate" type="range" min="0" max="1" step="0.001" ng-model="percentTime" ng-change = "playBarClicked(percentTime)"/>
                </div>
            </div>
            <div class="simulation" watch-click watch-right-click resize>
                <div class="plate-sim plate" ng-style="plateView ? {'display':'block'} : {'display':'none'}">
                    <canvas class="canvas"></canvas>
                    <div class="false-clr-btn-wrapper" ng-style="display.falseColors ? {'display':'block'} : {'display':'none'}">
                        <div class="false-clr-btn-box" ng-click="toggleFalseColor()" tooltips tooltip-side="left" tooltip-html={{FalseColorTooltipMessage}} ng-class="falseColors ? 'active' : 'inactive'"></div>
                        <svg class="false-clr-btn-svg" width="81.5" height="81.5"
                             viewPort="0 0 81.5 81.5" version="1.1"
                             xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="circleMask">
                                    <rect width="100%" height="100%" fill="white"/>
                                    <circle cx="100%" cy="100%" r="100%"/>
                                </mask>
                            </defs>
                            <rect class="false-clr-tab" x="0" y="0" width="100%" height="100%" mask="url(#circleMask)"/>
                            <rect class="false-clr-pull-tab" x="0" y="0" width="20%" height="20%"/>
                        </svg>
                        <div class="false-clr-pull-tab-mask"></div>
                    </div>
                </div>
                <div class="well-sim well" id="wellSim" style="width:100%;height:100%;" ng-style="!plateView ? {'display':'block'} : {'display':'none'}"></div>
            </div>
        </div>

        <div class="popup-graph">
            <div class="title"></div>
            <div class="close"></div>
            <div class="plot" id="wfgSim"></div>
        </div>

        <script src="js/handsontable.full.min.js"></script>
        <script src="js/ngHandsontable.min.js"></script>
        <script src="js/canvasjs.min.js"></script>
        <script src="js/papaparse.min.js"></script>
        <script src="js/numeric-1.2.6.js"></script>
        <script src="js/jszip.min.js"></script>
        <script src="js/FileSaver.js"></script>
        <script src="js/form/formControllers.js"></script>
        <script src="js/form/formDirectives.js"></script>
        <script src="js/form/formServices.js"></script>
        <script src="js/simulation/simControllers.js"></script>
        <script src="js/simulation/simDirectives.js"></script>
        <script src="js/simulation/simServices.js"></script>
        <script src="js/seedrandom.min.js"></script>
        <script src="js/angular-tooltips.min.js"></script>
    </body>
</html>
