VERSION	0.5
AUTHOR	Lucas Hartsough
DATE	2014-JAN-10

DEVICE
NAME	LTA
TYPE	Tube
ROWS	8
COLS	8
CHANNELS
	430nm	Blue
	535nm	Green
	650nm	Red
	730nm	Far Red
MIN REFRESH TIME	0.02
MAX EXPERIMENT TIME	43200
NOTES	Randomization highly recommended.

DEVICE
NAME	Optical Turbidostat
TYPE	Turbidostat
ROWS	1
COLS	8
CHANNELS
	535nm	Green
	650nm	Red
	450nm	Blue
	600nm	Red Laser
MIN REFRESH TIME	0.02
MAX EXPERIMENT TIME	None
NOTES	Red Laser used for measuring OD. Blue LED used for measuring fluorescence.